@page "/credentialinput"
@page "/credentialinput/{CredentialValue}"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject NavigationManager NavigationManager
@inject IMediator Mediator
@inject IHttpClientFactory HttpClientFactory
@inject ImageBytesToBase64 ImageBytesToBase64
@using Blocktrust.CredentialBadges.Core.Commands.VerifyOpenBadge
@using Blocktrust.CredentialBadges.Core.Common
@using Blocktrust.CredentialBadges.OpenBadges
@using Blocktrust.CredentialBadges.Core.Commands.Images.ImageDownload
@using Blocktrust.CredentialBadges.Core.Services.Images
@using Blocktrust.CredentialBadges.Web.Commands.VerifiedCredentials.StoreVerifiedCredential
@using Blocktrust.CredentialBadges.Web.Enums
@using MediatR
@using System.Text.RegularExpressions
@using System.Web
@using VDS.RDF

<PageTitle>Generate Snippet</PageTitle>

<div
    class="relative min-h-screen w-screen bg-gradient-to-br from-blue-50 to-indigo-100 flex items-center justify-center p-4">
    <img src="/images/InputPageRectangle.svg" alt="" class="absolute top-36 left-36 w-16 h-16 opacity-50">
    <img src="/images/InputPageTriangle.svg" alt="" class="absolute top-24 right-24 w-16 h-16 opacity-50">
    <img src="/images/InputPageTriangle.svg" alt="" class="absolute bottom-24 left-24 w-16 h-16 opacity-50">
    <img src="/images/InputPageRectangle.svg" alt="" class="absolute bottom-36 right-36 w-16 h-16 opacity-50">

    <div
        class="bg-white border border-gray-200 rounded-xl shadow-lg backdrop-filter backdrop-blur-lg p-8 w-full max-w-2xl">
        <h1 class="text-2xl font-bold text-gray-800 mb-6">Generate Snippet</h1>
        <p class="text-gray-600 mb-8">
            Input a base 64, JWT, or JSON credential to continue
        </p>

        <div class="space-y-6">
            <div>
                <label for="credentialInput" class="block text-sm font-medium text-gray-700 mb-2">Input
                    Credential</label>
                <textarea
                    id="credentialInput"
                    rows="4"
                    class="w-full p-3 border @(string.IsNullOrEmpty(credentialInput) && showValidation ? "border-red-500" : "border-gray-300") rounded-md text-gray-800 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all"
                    placeholder="Enter credential..."
                    @bind="credentialInput"
                    @onkeydown="HandleKeyDown">
                </textarea>
                @if (string.IsNullOrEmpty(credentialInput) && showValidation)
                {
                    <p class="text-red-500 text-sm mt-1">Credential input is required.</p>
                }
                <div class="flex space-x-2 mt-2">
                    <button @onclick="UseSampleAchievementCredential" 
                            class="text-sm text-slate-700 border border-slate-300 rounded px-3 py-1 bg-white hover:bg-slate-50 transition-colors">
                        Use sample Achievement-Credential
                    </button>
                    <button @onclick="UseSampleEndorsementCredential" 
                            class="text-sm text-slate-700 border border-slate-300 rounded px-3 py-1 bg-white hover:bg-slate-50 transition-colors">
                        Use sample Endorsement-Credential
                    </button>
                </div>
            </div>

            <div>
                <label for="domainInput" class="block text-sm font-medium text-gray-700 mb-2">Domain (Optional)</label>
                <input
                    type="text"
                    id="domainInput"
                    class="w-full p-3 border @(!string.IsNullOrEmpty(domainError) ? "border-red-500" : "border-gray-300") rounded-md text-gray-800 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all"
                    placeholder="Enter domain (e.g., example.com)"
                    @bind="domainInput"
                    @bind:event="oninput"
                    @onblur="ValidateDomain"/>
                @if (!string.IsNullOrEmpty(domainError))
                {
                    <p class="text-red-500 text-sm mt-1">@domainError</p>
                }
            </div>

            @if (!string.IsNullOrEmpty(infoMessage))
            {
                <div
                    class="@(isSuccess ? "bg-green-100 border-green-500 text-green-700" : "bg-red-100 border-red-500 text-red-700") border-l-4 p-4 rounded-md">
                    <p class="font-bold">@(isSuccess ? "Success" : "Error")</p>
                    <p>@infoMessage</p>
                </div>
            }

            <div class="flex justify-end">
                <button
                    @onclick="ParseVerifyAndContinue"
                    class="bg-slate-700 text-white px-4 py-2 rounded flex items-center hover:bg-slate-600">
                    @if (isLoading)
                    {
                        <span class="mr-2">
                            <svg class="animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                                 viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                                        stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor"
                                      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                            </svg>
                        </span>
                        <span>Verifying...</span>
                    }
                    else if (isVerified)
                    {
                        <span>Continue to Preview</span>
                    }
                    else
                    {
                        <span>Continue</span>
                    }
                </button>
            </div>
        </div>
    </div>
</div>

<div
    class="fixed bottom-4 right-4 px-4 py-2 rounded-md shadow-lg transition-opacity duration-300 @(showToast ? "opacity-100" : "opacity-0") bg-yellow-500 text-white">
    @toastMessage
</div>

@code {
    [Parameter] public string? CredentialValue { get; set; }

    private string credentialInput;
    private string domainInput;
    private string domainError;
    private bool isLoading;
    private bool showValidation;
    private bool isVerified;
    private Guid storedCredentialId;

    private bool showToast;
    private string toastMessage;
    private string infoMessage;
    private bool isSuccess;

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(CredentialValue))
        {
            credentialInput = HttpUtility.UrlDecode(CredentialValue);
        }
    }

    private void ValidateDomain()
    {
        if (!string.IsNullOrWhiteSpace(domainInput))
        {
            var domainPattern = @"^((?!-)[A-Za-z0-9-]{1,63}(?<!-)\.)+[A-Za-z]{2,12}$";
            if (!Regex.IsMatch(domainInput, domainPattern))
            {
                domainError = "Please enter a valid domain (e.g., example.com)";
            }
            else
            {
                domainError = null;
            }
        }
        else
        {
            domainError = null;
        }
    }

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" && !string.IsNullOrEmpty(credentialInput))
        {
            await ParseVerifyAndContinue();
        }
        else if (e.Key == "Escape")
        {
            ResetForm();
        }
    }

    private void ResetForm()
    {
        credentialInput = null;
        domainInput = null;
        domainError = null;
        showValidation = false;
        isVerified = false;
        infoMessage = null;
        isSuccess = false;
        StateHasChanged();
    }

    private async Task ParseVerifyAndContinue()
    {
        if (isLoading)
        {
            ShowToast("Please wait, verification is in progress.");
            return;
        }

        if (isVerified)
        {
            NavigationManager.NavigateTo($"/previewbadge/{storedCredentialId}");
            return;
        }

        showValidation = true;
        if (string.IsNullOrEmpty(credentialInput))
        {
            infoMessage = "Please enter a credential before continuing.";
            isSuccess = false;
            return;
        }

        isLoading = true;
        infoMessage = null;

        ValidateDomain();
        if (!string.IsNullOrEmpty(domainError))
        {
            isLoading = false;
            infoMessage = domainError;
            isSuccess = false;
            return;
        }

        try
        {
            var parserResult = CredentialParser.Parse(credentialInput);
            if (parserResult.IsFailed)
            {
                infoMessage = "Invalid credential format. Please check your input and try again.";
                isSuccess = false;
                return;
            }

            var verifyOpenBadgeResult = await Mediator.Send(new VerifyOpenBadgeRequest(parserResult.Value));
            if (verifyOpenBadgeResult.IsFailed || !verifyOpenBadgeResult.Value.VerificationIsSuccessfull())
            {
                infoMessage = "Invalid credential. Verification of the OpenBadge failed.";
                isSuccess = false;
                return;
            }

            string image = await ProcessImage(parserResult.Value);
            if (!string.IsNullOrEmpty(infoMessage)) return;

            var storeVerifiedCredentialRequest = CreateStoreVerifiedCredentialRequest(parserResult.Value, image);
            var storeResult = await Mediator.Send(storeVerifiedCredentialRequest);

            if (!storeResult.IsSuccess)
            {
                infoMessage = "Failed to store the credential. Please try again.";
                isSuccess = false;
                return;
            }

            storedCredentialId = storeResult.Value.Id;
            infoMessage = "Credential successfully verified and stored. Click 'Continue to Preview' to proceed.";
            isSuccess = true;
            isVerified = true;
        }
        catch (Exception)
        {
            infoMessage = "An unexpected error occurred. Please try again later.";
            isSuccess = false;
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task<string> ProcessImage(OpenBadgeCredential credential)
    {
        if (credential is not AchievementCredential achievementCredential ||
            string.IsNullOrEmpty(achievementCredential.CredentialSubject?.Image?.Id))
        {
            return string.Empty;
        }

        var imageUrl = achievementCredential.CredentialSubject.Image.Id.ToString();
        if (!imageUrl.StartsWith("http")) return imageUrl;

        var httpClient = HttpClientFactory.CreateClient();
        var handler = new ImageDownloadHandler(httpClient);
        var downloadRequest = new ImageDownloadRequest(imageUrl);
        var downloadResult = await handler.HandleAsync(downloadRequest);

        if (!downloadResult.IsSuccess)
        {
            infoMessage = "Failed to download the image. Please check the image URL and try again.";
            isSuccess = false;
            return string.Empty;
        }

        var conversionResult = ImageBytesToBase64.Convert(downloadResult.Value);
        if (!conversionResult.IsSuccess)
        {
            infoMessage = "Failed to process the image. Please try again or use a different image.";
            isSuccess = false;
            return string.Empty;
        }

        return conversionResult.Value;
    }

    private StoreVerifiedCredentialRequest CreateStoreVerifiedCredentialRequest(OpenBadgeCredential openBadgeCredential, string image)
    {
        if (openBadgeCredential is AchievementCredential achievementCredential)
        {
            var claims = achievementCredential.CredentialSubject?.Claims;
            if (claims is null)
            {
                claims = new Dictionary<string, string>();
            }

            var identifier = achievementCredential.CredentialSubject?.Identifier?.ToString();
            if (!string.IsNullOrWhiteSpace(identifier))
            {
                claims.TryAdd("identifier", identifier);
            }

            var criteria = achievementCredential.CredentialSubject?.Achievement?.Criteria;
            if (criteria is not null && !string.IsNullOrWhiteSpace(criteria.Narrative))
            {
                claims.TryAdd("criteria", criteria.Narrative);
            }

            var specialization = achievementCredential.CredentialSubject?.Achievement?.Specialization;
            if (!string.IsNullOrWhiteSpace(specialization))
            {
                claims.TryAdd("specialization", specialization);
            }

            var fieldOfStudy = achievementCredential.CredentialSubject?.Achievement?.FieldOfStudy;
            if (!string.IsNullOrWhiteSpace(fieldOfStudy))
            {
                claims.TryAdd("fieldOfStudy", fieldOfStudy);
            }

            return new StoreVerifiedCredentialRequest
            {
                SubjectId = achievementCredential.CredentialSubject?.Id?.ToString(),
                SubjectName = achievementCredential.CredentialSubject?.Identifier,
                Claims = claims,
                Credential = credentialInput,
                Status = EVerificationStatus.Verified,
                ValidFrom = achievementCredential.ValidFrom ?? achievementCredential.IssuanceDate ?? DateTime.Now,
                ValidUntil = achievementCredential.ValidUntil,
                Issuer = achievementCredential.Issuer?.Id?.ToString() ?? "Unknown Issuer",
                Domain = !string.IsNullOrWhiteSpace(domainInput) ? domainInput.Trim() : null,
                Image = image
            };
        }
        else if (openBadgeCredential is EndorsementCredential endorsementCredential)
        {
            var claims = endorsementCredential.CredentialSubject?.Claims;
            if (claims is null)
            {
                claims = new Dictionary<string, string>();
            }

            endorsementCredential.CredentialSubject.Claims.TryGetValue("identifier", out string? identifier);

            var endorsementComment = endorsementCredential.CredentialSubject?.EndorsementComment;
            if (!string.IsNullOrWhiteSpace(endorsementComment))
            {
                claims.TryAdd("endorsementComment", endorsementComment);
            }

            return new StoreVerifiedCredentialRequest
            {
                SubjectId = endorsementCredential.CredentialSubject?.Id?.ToString(),
                SubjectName = identifier,
                Claims = claims,
                Credential = credentialInput,
                Status = EVerificationStatus.Verified,
                ValidFrom = endorsementCredential.ValidFrom ?? endorsementCredential.IssuanceDate ?? DateTime.Now,
                ValidUntil = endorsementCredential.ValidUntil,
                Issuer = endorsementCredential.Issuer?.Id?.ToString() ?? "Unknown Issuer",
                Domain = !string.IsNullOrWhiteSpace(domainInput) ? domainInput.Trim() : null,
                Image = image
            };
        }

        throw new InvalidOperationException("Invalid credential type. Please provide a valid Achievement Credential.");
    }

    private async void ShowToast(string message)
    {
        toastMessage = message;
        showToast = true;
        StateHasChanged();

        await Task.Delay(3000);

        showToast = false;
        StateHasChanged();
    }

    private void UseSampleAchievementCredential()
    {
        credentialInput = "ZXlKaGJHY2lPaUpGVXpJMU5rc2lmUS5leUpwYzNNaU9pSmthV1E2Y0hKcGMyMDZOVE01TURCaU4yTXhaakZqTnpBME5HVmtORGs0T1dGaU5EWTFOekJrTWpreU56SXpObVU1TkRFMFptVmlaVGd5WldFek5tRmhZVGt4TjJFMk5ESmtaRHBEYjFGQ1EyOUZRa1ZyU1V0RWJURTFURmRzZW1NelZuQmliV04wWVRKV05VVkJTa3RNWjI5S1l6SldhbU5FU1RGT2JYTjRSV2xGUTJaa05tbERZbnAyVEVOVFQwNWxiRzEyY3pOdlV6SkpXWGwxWnpoYU0yaHdPVTFhWlZNeVZ6SkNjbXRUVDNkdlNHSlhSbnBrUjFaNVRVSkJRbE5wTkV0RFdFNXNXVE5CZVU1VVduSk5Va2xvUVd0NVdrVmpRMEZoVEMxV1pGQnVVVTlQZEhWc1ZqWkVVMGsyZUdJeFZWTlhSWGh2VVd4SmJtd3liV0VpTENKemRXSWlPaUprYVdRNmNISnBjMjA2Wm1FMVpHWmxObU16WmpOaE16azFPVFEzWm1FM1pXWmlOVFl6WmpNM09URTBaV001TnpNNU5USTJZbU13WVdJeU9EZzJNVE5tWTJSaVpXVTFPVGt5TlRwRGJuTkxaVkpKTmtObldtaGtXRkp2VEZSRlVVSkZiM1ZEWjJ4NldsZE9kMDFxVlRKaGVrVlRTVkZLTlhwT2MzcEJPRkZrU2tkeGNHeFVPV3RWYmxWT1RIZDFNVkExY1dOT1EzbFNibWxXTVZkWE1GaGhlRWszUTJka2RGbFlUakJhV0VsM1JVRkdTMHhuYjBwak1sWnFZMFJKTVU1dGMzaEZhVVZFWkY5WVYyUlVaMDQ0VlhKR1NtWktkVXhLVDJOS2MwSkVSamxJYURKQ2RUUXRRbFpXVmpZeVJqWm5ZeUlzSW01aVppSTZNVGMwTWpJeU5UZzBNeXdpWlhod0lqb3lNRFF5TWpJMU9EUXpMQ0oyWXlJNmV5SmpjbVZrWlc1MGFXRnNVM1ZpYW1WamRDSTZleUpwWkdWdWRHbG1hV1Z5SWpvaVMyRnlZU0JMWlhKdVpXd2dJaXdpYVcxaFoyVWlPbnNpYVdRaU9pSnBWa0pQVW5jd1MwZG5iMEZCUVVGT1UxVm9SVlZuUVVGQlIxRkJRVUZDYTBOQldVRkJRVUozTkhCV1ZVRkJRVUZEV0VKSlYxaE5RVUZCTjBWQlFVRlBlRUZIVmt0M05HSkJRVUZFU20xc1ZWZElVbGxVVlhjMldUSTVkRXh0Um10aU1rcHNURzVvZEdOQlFVRkJRVUZCVUVRNU5HTkhSbXBoTWxZd1NVZEtiRm95YkhWUVUweDJkVGM0YVVsSGJHdFFVMHBZVGxVd2QxUllRa1JhVjJod1UwaHdlVnBXVGpaVWJGSnFaVzEwYWs5WFVXbFFlalJuVUVobk5tVkhNWGRpVjFZd1dWTkNOR0pYZUhWamVuQTBVRk5LYUZwSE9XbGFWSEIxWTNwd2RGcFlVbWhNZVVsblpVUndOR0pZUWpCaGVqQnBVVmRTZGxsdFZXZFhSVEZSU1VWT2RtTnRWV2RQVXpSNFRGZE5kMDFFU1dkT2VtdDFXVlJhYUU1cVRUVk9hbWhvVEVOQmVVMUVTVEJNZWtGNlRIcEJNa3hVUlhoUGFsVjVUMnBCTVVsRFFXZEpRMEZuU1VOQmFWQnBRVGhqYlZKdFQyeEtSVkpwUWpSaVYzaDFZM3B3ZVZwSFdUbEpiV2d3WkVoQk5reDVPVE5rTTJOMVpIcE5kV0l6U201TWVrVTFUMVJyZGsxRVNYWk5ha2wwWTIxU2JVeFlUalZpYmxKb1pVTXhkV041VFdsUWFVRTRZMjFTYlU5clVteGpNazU1WVZoQ01HRlhPWFZKU0VwcldtcHdhRmx0T1RGa1JEQnBTV2xDTkdKWGVIVmplbkEwWWxoQk9VbHRhREJrU0VFMlRIazVkV041TldoYVJ6bHBXbE0xYW1JeU1IWmxSMFozVEhwRmRVMURPR2xKU0doMFlrYzFlazl1YUhSalJURk9VRk5LYjJSSVVuZFBhVGgyWW01TmRWbFhVblpaYlZWMVdUSTVkRXd6YUdoalF6aDRUR3BCZG1KWE1IWkphVUkwWWxkNGRXTjZjSHBrUmtwc1dtb3dhV0ZJVWpCalJHOTJUREkxZWt4dFJtdGlNa3BzVEcxT2RtSlRPVFJaV0VGMlRWTTBkMHd6VGxWbFdFSnNUREZLYkdNeU9URmpiVTVzVlcxV2JVbDVTV2RsUnpGM1QydE9lVnBYUmpCaU0wcFZZakk1YzFCVFNrSmFSemxwV2xOQ1VXRkhPVEJpTTA1dllqTkJaMDFxVlhWUFUwRnZWakpzZFZwSE9UTmplV3RwU1Vob2RHTkZNVTVQYTJ4MVl6TlNhR0p0VG14VFZWRTVTVzVvZEdORE5YQmhWMUUyVVd0V1EwNHdWa1pOVlZGM1RXcHJlVTFVUmtkTlJHY3lVa1JrUmsxclZURk9WRmwzVFRCR1JFNUVUV2xKU0doMFkwVXhUazlyVW5aWk0xWjBXbGMxTUZOVlVUbEpibWgwWTBNMWEyRlhVVFpSYTFaRFRqQldSazFWVlhkTmFtdDVUVlJHUjAxRVp6SlNSR1JHVFd0Vk1VNVVXWGROTUVaRVRrUk5hVkJwUVRobFJ6RjNWRlV3TmxKSFZubGhXRnBzV2tWYWVXSXlNR2RqTTFKVFdsZFpObUZYTlhwa1IwWjFXVEpXU2xKRU1HbGxSekYzVEcxc2NGcEVjRU5TVlVrelVsVlZlRkZxUVhsUFZFbDRUVlZaZDA5RVdrVk9NRlY1VWxSVk1VNXFRWHBSVlUwd1RYbEpaMk16VWxOYVYxazJXa2M1YW1SWE1XeGlibEpLVWtRd2FXVkhNWGRNYlZKd1drUndRMUpWU1ROU1ZWVjRVWHBCZVU5VVNYaE5WVmwzVDBSYVJVNHdWWGxTVkZVeFRtcEJlbEZWVFRCTmVVbDJVR2xCT0V3elNtdGFhbkJGV2xoT2FtTnRiSGRrUjJ4MlltbzBaMUJET1hsYVIxazJWV3RTUjFCcFFUaE1NMmMyWlVjeGQySlhWakJaVkRSblVFUTVOR05IUm1waE1sWXdTVWRXZFZwRU1HbGphVWxjTDFCb1dqZEVkRlZCUVVGQldtUkZWbGxrUms1MldtNVNNMWxZU214QlJVWnJZakpLYkVsRmJIUlpWMlJzVlcxV2FGcEliSGg1VjFVNFFVRkNVMHN3YkVWUlZsSTBiazk0T1ZvelUxVmFZbVl5VGxnd2VVeFhWWGsyWWpFelJXdEtRMFJWTVRZM05HaEpSVlpSVVZGVlZrWjRaR1JsYzBsQ1dVRkdSM2RKUVV4VGNFaGxRMmhLY1VWQ1JrcEtVV3RLTm5JMVVIQm1aV0ppZW5kVVVHVllPVGhoZURKUVREZDZibVpIZERsVU9WbDNTMVJRVUZCUVpTczNjakoyTmpseU0xQlJUVmhjTDF3dlhDODBXRE5ZT0ZCM2JFbFRWelJHWkVKeFZEZ3pjMWRwZHpKUGFsRjFaREpSUVU5c2R6QlhabVpIUmtoUFpUbHRVamREUlRscFVVNXFTVXBjTHpZNFkxd3ZNbk5DZVZRMVltaHlUSGxWYVdkVk0yMUJOVUZLTVU5cE5HbHZRMEY0TkV4Q2NHeDRaRmRaT1Z3dlVXdHdTV1JRWnpCbmIzaGFRMUpoWm1wck1qZFdXVTExYTJ4Y0wwaE1iVXQ2ZHpNM2VERXdaRWhSYWs1RVNWRkljRFoxZFVoeWRVUnpURGt6VmtaVFZWRTVXRlo0YlUxQ2FFMVZVSFUxU1VkQ2FVUmNMekl6U0Z3dk1IQkJhWEU0TVZrNFpqTlBlRVZUUlc5VWJFdzRLMFIzSzBablptSmthRzRyVURRM05tUlNhMlIxU1hVclZqTkxWRTVaVjB3emIyNW1ZMFZRUzBoQ2VEbG1lakp6VEVwaGVqaEpRMmN6T0dKR1Uxd3ZkVkpsT1daRWQxZzRYQzlwWTAxSmJFVldRMjFXYVhGemJHSjFTemg2ZWpkaVdtWTViWHBjTDNOWlJVUjNUalI1V1ZCM09WQlFlbU5YZGpJek4wZ3dTMFpFUlVwaWMybGNMemgwZUZ3dk9HOUpTR1Y1VTNSRVduSnpSelJsV1U5NE5TdHpWSEZMYkhCb1JWRnhVVlpMUjFCNllpczBNR1EwUzNWUmVFTjVaWE16WW14ek5uVjJiVW8xWms1WVRXaHRjemwwZFRWNFlVTkpNa1JFV1ZoUVNVcHhXWFJZWlROb2NtNURNSFIyVVhOTVV6Snhha0ZyU2tOUWNqVnFPRXRFWjI5dWNIbDZaakZrUjJkVlZXYzRXSFZGYWpSRWNXeEpSMmh6WXpSMVpub3hURk5ZVURkTVlVaElabTkyVFdaRVJXdFFYQzlKUzBSNE5IaGxTRGhsVlRkMU5VTlJSMEYxVmxOdk1EVlVORnd2T1c1M2VrcGNMM2wzWjNWaWJFWkRRWHA1ZHpacFZYVm1halZvZVRKTGNtMDFiRnBIYUVsVFRsQnhlRGs1Y2s5SVVHMUZjVXRxU1RGaFZUTmhNR05TYVhsQ1VUTjBUMlptTjJScldUaFlUalZTTUVsbWRHRkliSEpNZFZ3dmJITkdkSFJYVnpremExcFVRMWxRVGsxSGNGZGtPVnd2VUROaGRtTk9SM0JCVjNKV1EyOVlkVnBqTjNodmVrNUJTblpPSzI1dWNGTjZVSFpRVkROeWRHUmtlbUp3VVU5RGQzZEpSMGhoYnl0MloweGllbmt6TkdadGJqVTJOemRrZFZaNlV6WlNNVTVUTUVKWksyRnJWaXQ2TmpSd2FHcDVNM1EzTUU1cVVXbExibFJLZVVacVpYSTVYQzlsTUhvcmNsbEVZM1ZHUVUxT1oyTjNObUV6WjNOdWEyOXhlV2xDY1RWMFdVVndPRkVyTkRneFlUazFZVzkxZUZNck4zRTFVek4wYlZSS09EQTBLMkpPWjIxek9WaFRjbVpCVERobmNGQmlkbW8zVG01VWVUTmhLM1UzZFZ3dlZIVXpOMVEyVkc1S2QwVnpWbXBMVkVoRE4xSkRTVUpzT0RsRFdUTk9kSGxNUjJaeWRuUnhNVlJ3Wml0dlVFVmljbEJvT0hCWGNrTkJiakJ4TWtabFZ6WlFVMHBUYnpoMlJFWmNMelJWZURnNVpsY3pZVWR3YjIwM1NHNDVSR1ptWTJsSVlWaElUMXd2T1hWdE5qWnhZa3B2TUZsTmVUSjBkR0VyVDNneVpIbFhibFE0WmxFd1JsZHNaazgyZUZkSldGSkxWVVpjTDBaMGFUbEhPRVExVGxKMlZucEdNRmhDVEZkTVNEUklRbHd2WTJWM05sTndSVFZGTWsxQmJFNWtVak5TZEZ3dlRVd3pYQzlDTWtSalZHTlBaazkzWkdOak0waHlWekV4VmxCMlRrSjVYQzlHYUZBNVUyeDRTR0Y2VUhsaU9TdERjWEpqV0U5VVpub3hYQzh4TmpSbGRYb3JOemczTmpWRFJqaE9WVTlPYmxKRFRWWmxWbEJ1VkdkcFpVMXVlbmwzTm1ObGVtdG9kRlJWZUVGMGNXcFNZa0puVlVkSmFWRTRNMGRUTWtjMWIwdHlTbGxHZG5KUU1EaFVjV1JVV1RsUVIySXJSSFUwV1dKQmQwMUJaREU0TkZWQ056ZDZNbTFrVUhSRVV6RjNWME4zZUVjM09HTnpkVWhHYjNSV0sxQjJhRGRsYkU1Y0wxd3ZhR0U1SzFkdFNGcG5NRFZVUnpCT1RHWnFNRzl1WW1WSGVHRTJhVTlRTURjNFRrVkdZek5MVWxwUFYxRXlSbXd6ZW5seFRFVmFVMXd2ZWpobVNUWTRYQzljTDJKSFhDOVhNbGRuY1VwRWRqVXdkWEp5ZG1ac1NGUnpOa0Z1ZDFkQlNsTlJVbUZTVVN0UWQwaHFPVGhYV2tSV1dWVldlV04wZDIxdldrRjZXSEZZVW5oQ1dtUjJaVGxvYzFwcE56RTJNelF4U2trNFRWQndWbFJoWEM5UE9UWlFkbGgwZUdoTlFuUjVRbEZLZFhGV1VXdHlhelZLVkdaeGRIUTNjek01VDNKV2JUazBhRFJZTmtveFZsWXhaSHBSTm5KWGFsRnpRVWd6ZVdseWRXaFJha1YyVFRST01qRTRPWE51TjBZMWNsWmtTRll3YVV4dlpFeFlTMXBqVTFKM1Z6UmxYQzl1VnpoVFUzTXpVMloyVURkcVdrSTBNMDFIYml0cGRrWm1kbkpPYlhFelNEQXhVRFEwZEdWalIzQnFkelU1U2toSE5scEZRbU4yWkcxSVlUVm1lbmRYVUhnMFRrY3dOSFpYTVdzM2MwOWliRVpPUkRGcWVHUmhiVEp5WVZFck5WWk9ZekptVFc0NWNsQnRPVlpjTDF3dlpVdHVOWFl4VjFodVdYWkxWVlIxTTNrMFZVSjJSM1ZhSzJNNFhDOWNMMnhJTWpoME9FRXJVMGhuT0U0NFFsSmNMM1JYVEhSUFYyUmNMekZSWTFoa1QyeHVlV2xOYUhWTGEyNDRObTlNUWpkdFlYcE5ZbVY2VXl0dWVUWTNaRzQwYjJWUVNIQjRiRTFhZGxsQmFHVmxNalUxVkVjeEsydFRPVVJUZWxWNGNYcFFZbnByWVRGWmRDdE1aRXA0VUdrME5ITTNWa2N5Y2xaSGNsWTVVRXhqYlc5RGVUaHZjRVppYlRWNWFFbFZSamxzZVN0a1JERkRTbkJWYUZCVWJEa3dPVVZ5TWpFeWJrUklNVFphTXpGMGF6STVlRk5qV0UxUlZVNVRNekpEZUN0SUsyTXpibU5PY0Z3dlpteDNWM0V4U1dwcVNVWTRhMnBSZURVMk0wSTBTa2xRWkhaME5rY3dkRUpSVW10bFIxRlRhVlJwTlhCYVIxSlhNVEZUZURNNWVXRmFVM0ZyTWtSQ1p5dEZlRmRpUjNSUmN6TXpOV2xjTDJGSldqRTFkWGx3WlZ3dlVIbzNNbmRCZWpad05UUjFhMXBMTmpWamRtcHNaVXRLV1dNcmRWaHJjams0TmtoSE0wTnZVblpVVlhwY0x6azJTbVlyTjJFd09XRmFUVWh5VVdkYWJtSk1TVE15U3pGbFRteDBURXRJWkRSU1JGbElWbUV5ZHpBME0wOXFhSE55YlZCcWFIcHpNVkpQV1dSWlRuVmlXbTk0T0ZKck0xcFhUMEZzT1hvck0yVlFSekJvYVZWMlZFZzVUekZYY0RZelpGWlliMG8wTjJaclZteDJYQzgzVWs1Y0wyZERkbXN4Y2pCeE5rcHFTV2x6WlZCUFlscFljelpXUWpGbU0yRjFiemhvTTF3dk1rRlViMVJQY1RBeU0yMUdRaXR2VEhWdFMwTlZNM2syUVZGUWNUaG5NalJtVkhaMlZWbFVkVFJSVG5rME0xRktiR28yTVVoRlRVZEVZMkk1YldkYU5HVlliU3N4T1dwVk9FMTZha01yV1d0RGJHeG9hbUpRUjNveWFUUnNXR055TW10TmRXZ3hRVzlSYlRkUE4ySm1PR2MzZW5wU05EUlpVSE5HYjA1dVJTdGxNMXd2VEVnMlZXUkdOMGxjTDFkUU0xWjFTVlpxUm1wM0swdDJOM2huVkhGcVVHOVRVMmR4V0hjNWIxcDJaMEpqT0haWFdIYzRabVZyT0hWalQzTlZVVWxFYUhaclZtVjVkekl4YTNOek9HMVBNMmcyZEZjeGRFeDFNWFJVVlRGMFZXTXhUVXhqVmtSNGFrWnpNMU4wT0Z3dk9YWjFXakZ6YTBSc05XVXJYQzlqY1VkemVuTXJNM0JjTHpVM1JEaGxialZqWVU1Qk0xUTFOREZRVkN0M1dFOTVPSGhNYlVoVVJUQjFlVFJ5WkhZck1tMUdiakpqWjBOcmRIWlpPVVJuVGxCWVdXeE9SM3BuTlVwc2RsTjJiWEk1ZEVSTU1sVk9WR2hWSzFVeFZFMXpaVUZTU0VrNGExRXJUR2xaYVVkV1UxVmpVRWRhU1dWVlNHbzNXR3RvTTIwNE5WWk1kbHBWVEVwMU0zRkdSVzFqT0RCemVrTnpZa2Q0VldwMWVsbzFVbk5aV0VwWVkzSkthM1prZUV4bEsxd3ZNMG8zTmpselpuWktTVGhqUmtOY0wyNTZUbWsxTUhjd1IzRjZaV05xT0ZCd1FURlFlRmxFTUV0TlVXMUxkVVIyZWpST1JYQkJaa3h3WjFCaWNHbGplRE5CZFdKU1VTdElNVkYzTW14M01qZG5PRVJvT0RoSWFWTnRRa2hKUzNsSloyUnJhRkkyT1V0bmNuSmhTSFZVWkV4UVJ6bHJXbGh1WlZ3dldHMDVZa1kxVDFsWFZ6SlRUbGhhU1dSSWFHWmNMekl5YlhaUVhDOVRXbEZ6U0hwSWVFTXhNakpMUkRWMlRESXhVWHBvY3pKSFFVMUlXazlOYms5M04wSjRZWFZYV0VFeFVETmNMMlJ3ZW1SMldrTTVUV2xKZFRsNldYcFNXV0pOSzJsMFFUbG1SVUZ6U21oYU1qZE9LMFZTV2s1bFpreFhOblZ1UjJsdU1tVnZXSEZsZVRSUGFtaHpNVGh3WEM5SFZtSkdTRXgyZDNOQmQySTBaVmh1WEM5MmFHVXpaSEpxWEM4NWR6Uk1VR3BIZDBzeVZEQTNjRzVjTDBSVE9XMDVLMGRqTVRGWllrMUlSREJjTDBjeFNtMUVhMXBVYzBKb2JYWkZlWHBxVUZwcE1YQXlSSEJWUlU5d1ZWSk5XVXR3YUUxbVJGRXpObWxFTXpWTlNtSmljVmgyY21aQlRUaEZVblp3ZDBVNVNGaGlOR2gzZG1jMWJVVkZiU3RqUjA0M05GQkNhMVZJV1RCb2VVZEdZWE5sUWxsMFlsTTNTWGxwZW0xdVZIQTJZblpxV2sxNVpVYzFNbGh1ZG5CclVVZzNaR29yTTJOaVpEQlpUemt6Tmx3dmJ6ZFBWRlpXUTJGME5rcGlNbmw0T1Z3dk5qTXpkalIzVDFSNGNUZGFPVGgyY2pOME5tVnRjRzE2Y0hGNllrNVFObEJhV1dkY0x6Qm1hamRvT0RaSlFrcG1SRFo0Wmx3dmFsWTRaa3d3SzJGTGFuQkhSVlpqU1dkdlN6bHFUVmhHVW1SdVkwTjBXVWRTVFc1cVdIWnhYQzlWWEM5bE9IZ3dPRTV4ZURsNGQyWTNNREpqVUZkY0wxaDRkMUZRU0hoM1VVVXJWMUJzY1hkemQySnRTVTEyUm5seVdXVTROVUpWWkhKd1lrOUljRmQzTVZGeFkwaGtkak5YVVN0WFNXbDNWWHBZV0VkdWNVSjJiRTVUUzBFeFdVNVdlakJZYVRaUU5IRlVTbTlpYVUxTlNFZHJiVzE1YVVOWVRpdElNVGxsU0VsMmJHbEVXVmRQWVRCSFZ6aEVXVzAzUkVkS1VGUjNValJvUjFCd2EyOUdXWE5QWjFZelF6TlVXWFlyZFZNMFIxaE1NWG8zYzB0RFp5dEpWa0pCT1U5Y0x6SlFTRGQ0Tmpoa1hDOVFOM014ZW1SMk0wcHVWVEZPYWsxNmFuaGNMMXd2YUdWSWFGbDBjR3MyWVRsdVNGVTFjVGRwY1hCbmNuWjJkbk5IU0hOWWVEQkJSWGhrZG1acGEzZzVabmhNYW10d1ZHNXdObEZRWlhwTWVIZGxZazlpYlRGUk0ySmxZVmt4VWxnemNYRjNSRkozZWxsUU1taE5TMDlsV2tkWE9TczVZMUJQZHpoY0wweFFRMWhqT1dVNFhDOXFaa1pxVUZORWJFWmpUM1ZjTDFGT2IzWnZaVTlTYUhWMVdGWlphWEZZT0hOa2JqSmlhamhYY2l0NVJUaFJiMVJpVGpWWWIxQjVTVmxzWEM5TFMxbFNWalJWVEdKM05FbEJjbXBFYjA5a1FWbElkVzV5ZEUxTVRHd3dUM0l4VlVoV056UlFjVTVoWjNkalJsbE1kREo1YjNoWmNYZFpibG94TTBWU1JHTm9jR2x2VHpOQmJuQmFVVk5zV1V0VmNqaGhaM1JIVVhOa2JYYzVjbkpvZHpSamNXNDFWMjVXVkRCNVkydGlSME1yUjJWSWJEYzVUWGhvVDNreU1XdGphVEk1VWxkbU5qaFhZbEJ1U0VsMWNVTmxjMkZPYVZWbGFpdEtORFpKUVUxdGVFdElhM3BjTDJWd1JtOTJkelpuUmtOV09IVnRabEpIWlc1MGJubDRkekpHT0ZaeGNsTmhNM05NYUhjMVIyTm1ZazR6V2pOaFYwOWxTSHA0U2tONFltNW5jRmg0ZUN0M2RGYzFRMlZVVm5jMFlVbFRTV0ZHZVVwTlUwZFpZemwyZEdaRE9ERlJSMnA0YUZ3dlpEWm9OazF1ZUV0Qk5qRmxZbTlVWkRCM2JGaEZVbGwyVWtGRVltSkNTM1prUTJkMllrRlJNa0paWkVFMU1FczVaa3RDY25WT1lVTjVjR2R6T0dRd09Ga3lRMGR2TnpaNFFWcExTV05sV0hRMVQwZzJPRVZ6T0hVNVdWZHBVbEZsVW1GNFdEaDNha2xTTm5oMVVHSXpXazE0TmpOalUyUnFORGR5Tm10dU56aGNMMlJJTTBselRGTk9lV0ZOYVROY0wzZzVNVkJhYUdrMlpWd3ZkWEZ0ZUhKWVZsSm1XREpxZGpCaGFqYzRTV3BQYURSS2NWVTVaRkJuVkdaMk16aE5aVGRrWTNkSmFIQm5OV0pzV25WWFhDODVablpDYXpsVlVuTmpSbEJJVUhveE1VYzFNMmxUZEc0Mk0yWk1hMHBoYVdkc1dEVktaR3B0WVhGb1ZWaEhlbUl5YjBORmNFUkNZM3BYZVVaNVUyaEhWa3RKZG1SSGQzZzJhSEp4YTFobVRHZHdVVUpZYjJkT05UaEthVTVwUVRGdFdXWXdaRVJIUlZscFIzQTFWRnBOYm5saFExZzBaMkZaT0dVMGIwdHViRU56V2s0MFEwRnRWbTlFVkhoNmRuYzVZV1V6UlZKemJGRlpRM1pDWnpaTE5XSkxibXR3UTFWNWMxWk1URGtyUkdvMVkzSlNielkwYUhkc1ZHeE1RbkEzYVUwNVkxSm9LMUIyU1dOMGJUZExOR2g2V1dabGVVNUtXazVsYVdaeWJIcENaSHBtYWpONGVGaFBXR281T1RkbUsxTXdjVVJoVVhadWNEY3dOMDlRU1c1VFVIcG9ha2RFZDJwQ04xUjBNMk5ZZW1aWFVVMU1hblZ3VGpNeU5YZFllbHB1T1dGbGFETnJSMk5FV25ObVVUVkVhMHRNY0V0dE0wUjVPVEZoWVRGVWNVMTVhMmxEVTJSbFIzbGlVRGxyWldSd1Vsd3ZZblJFYzFKR2VWVnJhM1JIVUVZMGJVRnhVREl6WjI5U2NYSnVOV1JCZVVaVmFFbEtNRWgxTmxWR1lrbHpXa2hKWTBWb1EzRTFkMEkxUlZSQ1YwUk1Za05VTm5STVFWcHRNMEZ0Y0ZkMWNVdHJNMGt5VDJ0cVRYRldSMkZ2VDBFMVNsUXlVR3BxVldveFZVcG9SMGQ0U0dkbldtSkJiamwyTjJOQ1dUSXJSR2QxWmxWclVHbGplRkJ5V0d4elJVNWNMMlJhSzBodVlubFdiblp5T1dzMk56WlhSa2g0TWpSWE1XSmpjSEZLVFU1YWJrMXFlWEJ6YW5jMlVWbGFUMVJ1Wm1abVptSnZVR0poTWprclVGZzNkM2hIT1VoaGNrRnNPVFZPVWpWQ2QxQTVhbkZEYUhwbWR6QkdSR2wzZEVkRVdsQlVORWN5U1dvMVRtZDNYQzkwUmtwR2JVSXdZMUJqVFZkclRVZDNXVTVEZWpkbGJsbEJYQzlzWVZVeVFUTm5Oa0ZtVVhGQ1lsSmhRekZSWVZCa1VuRkJXWGR0UXpGb2MwUjJaemhCVm5kc1dFVm9aRlJLUWtsb1dFSjRkRk5JUmpFMGFWVmpRV1ZPZEVKMFlXbDRkM0p1WEM5UFJGTkxha1JzVjNVNWFVRXJVRkV3Y1V0Qk5URjBURTU1Tm1GVlJtTnRaeXN5WmtaSFNtUlRYQzlLZDFaR09XcFRaRzVRV1ZkNlVqWlRiM0pMTm1KWGJIUmxZeXREY25aWFhDOW9PRzlzYzJwS2J6STBiRWRHTjJSSU1uTnpOR1IxUVVkbGEwa3JWbUkyVkdnelVtVXphbUpQV1RsRVEzSmpjMEY0ZEZsR1MxQnFjVGRrVVdsTWFUaFRRVEJhTjFsemFrVlVPSGhaYlVseFNGcERRbU1yUXpKc2VFcG5hVTR4VlZSWVFXNVVaVVpoVDFkR1JsWm9SMUYxVmtwSEsySldTSEV3VldRM2NEZEZURzl5UTNoWlYwRTBlV2g0ZVRSelJHbFZVbGRaU1VoU1drbDFSMkkwZFRselVrZzRlRVJqWjFGbU5GbEhhM1pDVXpscFNsbGlXVmhYU1hOUE5sWktTbmM1Vm5jclJHeHZaRVFyTkRCWlRWTkZSV2xoYkRobVVGTlhRbEZoT1VNeGVHUnRPVWhrYTJkdFJGTnJWa3RVY0ZCNE5XOWFXRFJuY25wNGNGTmtVRXA1U21VMldFNXBSVGQzWm5sUmVHVXlhVUV6VERGaGFscGlNbGh2ZVZvd2VDczNkbnB3UmpWalMwZHdTVkp2VEVnemVWSmllWGNyU1U0ellqVTBOVGx3TmxoVFNYVnFaWGwzV1c1Q1FVdFVYQzlrYVZSS2EyaDNaRnAyU3pGRFUwdzBSek51ZW5ZNFprcFRTVVJVVlVObFozQXlSM2hqTlVKVVNtTjZkRTFwY2padlNHcFZXVFY2U1hCdlEwRkxRMGxWT0U1SmNXWjFRWHBrZGtKVlVsTkZZVkZEUkdwblJXaHpjR2x3VVVGaU1FNTBRalZoWlRkQ01WVjBjbUpvVkdaU09Gd3ZNMkkwVUdsaVZVeGNMMlo2VFcxRVNrbG9SVVp3VVd0VU5uUnBTSGxUVVRaVlZtazNkVll6UmxKVlpFTlBla2wxT1VkRU0wdEdNMGwyZVd0cGRVdDNOR1poV1VaaE1sRlFXVVJGUlZ3dllrNXNlRGRPVFhSSGQxcGtlV0o2WVZVMVJtSnFYQzh6WWt4clVHMDFhM0Y1TTBscGIwdENYQzh3UjNodU1sVlBURFF3UVVSS2RqRXlUVFppVDIxWlVHRkpiR1JvTXpaRWRsaHRjM0J0V1dOaFNYVmxNVGRFZFhwNFpYWjFiR1JqT0ZBNVJsQnBPR05YUW1WSFJqbEpabUpjTDB0elRFdEdaRFZKVkVkNlNESXJYQzgwVVVWMmNVdERla2xEYUdSa1RERlVWa2wwZDNCWlpVaFpTSHB3WTNCaGVsRmxkbVJFT0U5bmFFZEZlazh5VTJWWFduRldUVUZNZFVGRGVYWk1RbkIyWkVSdlprUm5TVVpwU0dwNFJtSnFhRXRSU0VOdllrVnNXa1ZsUWxOQ2EzSjBTRXhETUVwcGFuSmxNVUptWkVJck0zTnhOMnA1ZFVacGVFZGpNbGxjTDBsQlJXTmhhMk1yUVZSeGMyWkxTalpUYjJGb1RFTlpRbEZwUzNOM1JVeHJkVWxoT1cwckswZFlVR1pVZW5wV1EzcERRVEZvTkRVMGRtbDVRak5tTjBaMlZqTjBZall3WkRkNlExd3ZhR1E1ZVVaVVVreExOblJ0TURSbmRIaGlNbU5wTjFoSlR6QlZaamcyUzBFNFJtdExTVXhPVVdscFYxSkpVMjVKTjI1V2FYaGhUbGhZYVZVcmRVb3JUVkZxVW5kNkt6ZG1lbmhwZUhCVVpUUk9hWGx0ZDJKVFpHdFhURVp0Wkdsd00ySTNhVVUxZW1oT1JDdG5jMUZLUjJkR1Z6aEhSbkpXVDBsY0wwTkpSbVJ3T1ZNMGJVbE9RalZNTkhnMVJEWnFlV3RKU0doUlVISnJTVWxKT0dORGJtTk5TMnh6VFUxb09ERk5XbU5qVDNVMFRrNUJla1JEVjNsU1EzUkZlVVZ4T0RGVmVtOXBRWFZIZDFjclIwSkNlbFJNUkVwdFMwSkZLMlZHZFVOVWVVaElUMGR2VEU5clJtWnNTSHAxVUVSVE1tUjRTa3h6WWxRME1sWlpUM2hSU0ZkTFduSlFRbTEzTWpSWWIwc3pSMGg0Y3pKT05reG1NRWcxTkdaTE5FUk1kVmt5U2tsalNWVkdkRnBjTHpoVGQzTlpUMVpqTkdGMFpXeGhkazVjTDI5MGJXSnlLMUp1UWtVd1FYUlhWV2NyTTJJMVl6aHFSa0VyU0VWRWRUTmhka2R1YmpKSU9HUmlObXdyWTJSUVdGSm5WekJMYzBzM2VFUnZNMGcyVWs0MmNYZHNkak5GWlhWMVVXNTNVM2xESzNkTlQwaDRUVlJvTkZWdmVrNVBNMDFTSzB4SlNFRnpValpPVEdWNE9HUjBOVUV6WW01emMwTlBSMGxMVWpjNE5VSXlTMmRGVDBaNU5YaENUbTFoVDNoaGQwMUdlWFpvWVV3MFVYWTJibk4wYVVWU1VUSjFURW8xT0VwaE5sRTRTbXBKWXpka1FtVXhjVUV5ZUd0bGRYb3dWMmMyTjJwUllrbHdhV1JhYjFOak1WcHBVblZGYUVaNGFqQXhaV3AyWW1salkycGxaRkY2Y2tSc2VrTndUbk15Y2twbmRGRkZlV050WWt4UVFUTnpVRFpXUWpRek5HRjJXR2h6UjNObGRIUTRTRlp4YWtJMmRYZEpZV1pUYlUxaU1qZHhNMEpuVlVKeFVVOXJkVWhVZURoMlVWUXJYQzl0ZVVoVlptVklNek0yZDA4eVNFVmpjVWhCTkdsY0wyNTNYQzl0Y2xoclRuazJaU3R6WTFwWU1Va3dVREZuWkVKRlpWWk9UR3B2UkZBeWVtSnFlRlpRT0VOQ01WWmpSV2xwYTFKV1ZWSmxPRWhFVjI4M05WaG5hM2hjTHpCcFFXdE1lRWt6YzBSd1UyRm5OVVEwZWtOSlRXMUtUVUoxZVdObVpYRnpTa3B2ZFVwUldVUnRUM0J6ZVdjeWIxRlpaVXRuWml0NFQySkNlbWRyVTBkTlJVbHVhSHAxWmxSVWVGcEZTemw0ZUZZeU1rVXhhM2xUUjBaYVdYVlRlRmt5WTNwNlNDdENTalUyUkZwRVJETmlRVzVIUzB4NVdrWlFXV1ZwTXpKT2VGbDBaRUpXU0hoVWFGcHRhak5YU0doalNFaDViMmh2V2t0WE5HOTFXbTFNZVZKcmFGWlFOblZKVXpGS1FXZHVZbE5LU1doQlNqa3JUMUZQYUdsdFMwVjFTRmhxZERWTlJtZGNMMkk0WmtSWGJXOTFTblY0WTA5Sk5XUTRSM0JEVXpkb2JXeDZVU3RvUTNGV2VGSkVNMWN4ZHpNelpYWk5WVkpqWWpSSFpVNXBlbGxYYm5aU2JreGhUa0ZUTnpKVVJXdFNVV2MzZUhkWlJFdDNlRnd2U0VOdVIydHZhemd4UkdGS09HVldaVWwyYTFOTk1FbEhWR05ET0VaNFpFUnNTMU5CYTJ0WFJIUm9jRXBPWWtWd05FRTFVVlpoU1ZwRVhDOVRSbXhaUjJnM01rUmlRMEpEY2tFMVNIVk5iMmR2TUVFMllraFdOVU5KWkhwRlpraFRiMjFsTkhab09YYzNRak5oVTJNeWVtNXpNV2xyZDBwNWIyZEZUMXBhWVdaVGNIaEZTbXRpUW5kTVFVdHFaekZIZHpWM1VTdFFTRmRHTjBsM1VtbzRWWEE0VDFwaFppdDZZVmhaUXpaaGJEbEZaVlJQUTFFMFZVVlFlWEZVUVdZMFNXdEVaVU16V0RSSmFWRkdlVGRFUjNoWVEyOXlOMmM0ZUdGd1VWWTFkMXd2YlhkRmQxTXpSRnd2UlVaY0x6QjZTWFkxT1dkQ1VtMVdLMGhoYkZoM1JVSlFiR2szTVdaSVkyVkVhVXBxYWsxRWNUZGFZVTlUUzBKQ1duZHlSbGswVEVvemEweGliM0JsT1dwM1JHRmtkMmxPZUZKWVozRlpWekp2WjFOc1ltZGhialJrVGtKM1prcE5ObHBwUVc1UVRGTkJSbmhaWWt0aWJrcDFhWFZPVkhsRGVWVkhZMUZYVkc1c2MyUjZlVUZuWVdFMVozZzNRVGRITjJkck9YcHNjMlJxWjJNMWJHUnBkbEl6UkhObU5YTTVlRVpUU1RWaVZHRlVVRWw1UkhORlJrRTJjMlV3VDBvMlFqSmNMMFp1TWxkTk5YcGpaV3cxVW05RlVuWlFOVUpwUWxoT2FEQjBSVXBEY1U5dVJVcDBXRkYyZFRWc2JsSlFNWEZITm5obWRra3plRFZEUlRJNFQzTlRSelprUlhCT2IwcHlZWGRRU0hkMGVWUlJZbFI0ZDJWVlNXVktPVnd2SzNkdksxd3ZlR0paWEM5UVduVTNUbm8yUXpZMlkweE5TMGx4Wmx3dk9WaFRkRnd2UTNoRGJGVnZWMUZ6UjBKTmJrcDJUM2szTVZvcmRVbE5NQ3R4Y0ZRd2VDdHBPSFY1UTNGUk9FczBaa2xuWjB4bk1FbENialpoUzBGWGNVUnNhRFJHYWtZclVIazNYQzl0U1VOS1ZtbzBOalJYTlVaU04wbFhVRlpWY1ZGMFNEUTVNbXB3WVVOVWEwUlpkVVY1Um05elFsSjNUVVpyUWpsMFdtRm5VVlZrUTNSVVltdG9Wbk5sZWs5TFoxbDZNbmMwVDFOVGEwSnFLMWszUlRFNFNEUTFOVXBPV1d4R1JVeExNRFJNU0RWalMwaHVNa1ZuU3pJMU1HcHdWRXhITTA5blkxcHdkbEp0V0ZaelVYQjBiRWxhTkZJd2JqSkJSMG8xYWl0dFQyZDJlbU5MZG5RclRFUXpPSEYzY0hBMVVXVnFjV0ZGV2s1a1ZGUnBkMjFRYURSS1ZWUmtLMnh3WWtaYWJqWk5kMGRIZVhkdFRIQllhRGgxWlcwNWJDczRlRU4yUVhJNFdGQlFLMFJrUVZsUVV6ZDFOMk5rZGtSMmFGQmlka0ZUVEROalkyTnllVGs1UmpWMmJqUTVWR041VFRrclVHcFlRMFI1Y1doRFdGY3dWRUoyY2pKRlUzRmlhVTVYYnpaVllYZHVkMlZQTjFkMWFIZFBhbWQzV2sxbmRUWm5TRll5YjJ4VFJqZ3JRakpyY25oeFFVeENjSEpPVkc1S2QwSnpjMXBLUkZsNk5UWnJhMDlVYUdkSEszaHZUR0Z2UlZoNWFVRkphbmxCYVU0MlJqRkNZbXhFY0ZaQlpIbzBVRTFxWWpkM1luZFlNRUpqVEhOWFNYaERiSFpWZFVoTWVrTjFiM0UzT0U5ck1GbEdUelUzZWtwY0wxRk5VbTUwZDFCUlZXMVNSVUpLVUdGVWJGZEhRekU0TkdoVmFqTkVNV052VG1Sd2QxVnJUM2h2UkZaVUsxQkhUamwyZURBNGEwZE1RamR1WnpaNlpHaFRhRk5qUTJocVQxcENOa1ZOUkUxd1MwNXpUazkwZEZWTGEyTmhTM0U1TW5rcmRIWjRhalVyV21zMGNrOHhTaXR0YmxBNU1tNUlhakY0VVRkVWJqTTRZamhJYTFCMWJEbGlhSGMxTVdaMWJrbDNWbU15VHpoMWRraHNLelZHWnl0Uk0wZDVNbk5NTmtjNFdHOUVWMU5YVjFCTWIwNUdVVEp4WTFsclZFVkJZVXhuZG5kalJsUjNUVlZUUlZaTFdIcHhTSE50UlZsTGVYVlJhelp5TjB0cWFqWjVjRzlHWVVOU1VVZ3pXWFpLYW1SY0x6UTNhR3AxTjBSMFJsVjBXVWRYV1ZGMk1HMWlVRkZPVTBWWlpVTkpkVVZwVW5rclJFSTJVbk5EYURVM1lqRmtOa1J1WkZ3dk9GTnZZblZGYm5sRFFXcEZjRXhSUlhnd1ZVVlJPRTVzTUV4VWNWVnNkR05uWkRrcmRuVk1WMHhTWW5kU2FHRkJhRk5tUWtwSWQwTTVkMHBZU1ZoQlZWd3ZZbmh0WVVjeFZWRlNTSEJxT0VSUFRHdGlUblJFTURWallUaGlZVUpWU0hjNVYzaEhjM0pqWWsxdmMzUkNTMEZGUVc1eE9USnVXVXhLUnpWRFlrNXllVTlRY1VaR1QwaEZRVlF3TWx3dmJtZDJPRzltZEVKM1lXOWxlbk4yWEM5YU0xbGNMMmt4UVdKSFltNDRhVmRRZVc5SFRHMUhPRUpXTVUxTGNuRTBURk14Wms5NFVIWlFXRzlTVXpRMFEwMU1Oa2hhZURSWVdWSlJaRE5CVW5WY0wwWmNMMEozVDAxbFQzZEpiSHBOVHpZMVIxWkVVa3MxVDFaSlFXeHlaemxFVDBaS1ZVaDJSVVY2TTJ0aGJHaHhiMVZJUkRCeGJFb3JYQzlvVkZSNVNWaE5iWGxzUkdSd1RVeFdiamRpVVRjNE5XYzJkbmRLUTBGblYxRnJUMnhGWVZOak4zSmxlamhqTlZBMU1rRnJTWFpjTDBoNE5sd3ZSRkE1VVVoMlZqQnhPVWhoVkRKV1VsUkRVMDR4YzBkcWJVdE1lakl3WjBsVlZqZGlaekZOYTNOYVNEWjZRWGsxYUU1NlJEazVVbVZuT1ZoRlFsaFBkMUZwWWxodk1HRnpaMGRTYVU1U1VGWXdSa2Q2WkdoV0swOU9LMHRNZEZGS2R6TmlXR2RqTUhsM01rNHlZMFUyWlRZeldYcFNSVEZKVWtneE5GQk9RakpJZFRCT1R6RXdNMU4zVnpSWWMyWmNMMnQyVldOT2VWQnJSREpZVkZKVmIxbFpSRkYyUjNKdE1tOXhPVk5JTmpWUmFXVklhRmRyV1ZFeGR6bFlTRWMxWkhsbGFrTlRXbTA1V0dWVE1GTXJNSFI0ZFRSRFJtZDRZMDVyUlZOcldWQlVjV0ZVUkhoSVZFRlNSVWhDVVcxaVJYcHljSFJGUzNCSE1XaFVha0pTZEhwblVtNWNMM293VDI5d2NtVnZhSEIxUWtWNE1XdDNaakpCYml0UGEwZE9TVFYzZURSRllqa3pRbmcwZWxkSmNXUjRUVU5uWW1GeFJIcDFTMFJNUTJGY0wzZHpha3AzWEM5RVltNXJhVEp2U2xOSmRVWndha2hPU0dFMlRrRTJOVnBxTmt0eU1scHBVWGxOVDBGd1JrRk5WMVF3WTFSNk9EVkZjWFpZWm04cmNrOHpOMEoxUkdSWGIzQnpSV2xWZW5WRWNsaFRRMHBQTWtNM05GbzRaRUpXYW5ORVRqQXJaSGM0UzNkQ1N6RTBVWGN3VUZWb2NFeGlaMXBFWW1jeFJtRllXVnBXYkVRd2MzcFNWMkZVWnpkVk1VZG9jRTEyYldGUmEwbHFjV3AyWWtKRWFqSjNlRlZGVW1seFVVOXBUSFV3VVVKNVlVNTBTbXBJYzNORVZUaHpaVWxXVWs5eWVERjVOMk5ZZEdoaVRGSXpWakp6VFd0SllXbEhNV3d5UmxGbFozZHhlVGRPYURaTmNFZDJNR2RvYkZNMFNuWnFjV2hSY2pCMFFVUk9WM3BaWlVsSVNIRlFNbFZFV2xsWlYwVm5jVlZ1YjNGWE5IZHZWMHQyUlV0MmFHMWtla1JYVW14a2VVVndURWxMYkc5U2RWSkNhVlpoTW01dVVUWm5iREJTZUdWRGFFSXhOR3hrZWpFM1RGRkpXa1l6YzNkTlJtRkpPRzh4V0VGcVUzQTRTVnd2VDFKVmJubzVObXN3YzJOb2QyaGtRWGhEWTBaS2NXSnpielo1ZURKT2VsSnZSMk5xY2pkSlMzZGtNVE4zUkNzM1JGTTBhRnd2WmtobFlWd3ZUM2MwY3pGa05rZHNjV2hVTTA5cU1sTjVTemRwVlVwbFduVklXRVZOUlVSV2JrNU1jSEl5TjBoY0x6QnJNRTFIT0Z3dlJubExSbTF1UkhoRlNsSlJaVU5KTmtsUmJsRlpiRlprWkVSaGVFZEljM0Z5TjBaQ1NXYzVjM3BTY1Zwd1VGTlFVM05sWldJNE9HYzRabEpQYkRFeGRWRk5UWHAyTkZGS2VUa3lXVFZGV0ZGTlYwVlRSMko2WEM5Y0x6VmtUMVJDZVRVMWRUWlBkSGc1ZEVOQ2NWd3ZOSEpvYm5oY0wxaHVaelpOYzFKRk1EWjZkMlF3VmxrMFduaFpWMjE2TkUxU1JrUmhOMlJHVTBaMVhDOXVhVVZVYTJ4SGJEbEdRVkp2YzFCRmQxWk9TM2RTUlZWRFIzTjFkM1ZMZFRKV2QzazRNa1ZhTUZWb00weHZOalJITjFkbll5dFVOR0kwTUVOTU9ESnJUbE1yV2poTFdWSkNibkJtUzNaVU5FRldOemx0UkN0SVFqazRjM1FyVFRCb2IxSXJiMlJHYnpWM1EzZ3JWa3B0VjNKcE5VSlRXVmRZVWxCYVpFSlBkMkpXV25sQmRUVTBielI0UWs4ME9XRnplSG8zZDBjM1RtaHpZMjR6YW5sRk16VlJXbTFqYURKcE9FNDNZVFJsUlVoc1NtOUdSMXAzUzJSeVRrMTFSbE5LTkhwQ2RHTXpUbGRFYm5kWVdqaGNMMFJGWmxNMU4ybHZUREZNYUU0MFRGaHdRMHRPUmxONVpUbENZMHd3WWpWbVVqUTJOMDR3UW1NeVpFNU1XR2d5TVcxMWJrMXJXVTVZTTFCc01HMVdNV1pWTTJKWU5UY3dabmhyVVVRM1JVSklNMXd2TkVoeU5WbDJNMjVqYVZOUGJtUnJZVWREUkVaNldtZGlUMGhETTBRcllYcGlSMFE1UjBOMlpWRkVhMUZ0UkVWaWFHTlVWMmROWVVkb1VWbFVaR3d6Y0djNU5Gd3ZTRGhMVjFRd1RVMTZWVnd2TUd3NGNVVjVTbGhqV1RSa1RtRkVZemxpVm5sREsyWm5Na0pxWlZoM1NqWlZiWEJPVEVZMGNFTkVXVVJ4TkhCSGMwZDVlbEUwTTBOSVEyMVhkMDlDYzJGSldVNVlNVVZQUVVJd1RraHpRbFoxUzA5dFZYSjJSMGxUYjJWWldYbFBORFZ1VHpCYVNISk5NbEYxWlVwcWJsSklLMjlCYjNsRU1rbHlSSFZWVDBoWU5VaHRjbkkzWW1oeGFWbEpOMm8wTTNoSWRtTm9jV0l5UlZsSlkzWjBUSFF6U1dGNk5rcENSamxQZEhJM1JGVmxLMmwzYUdSYVowVnpXbWRrWTJ0M1RHZE5la0ZXV2pZclpuZEthWEozU1hoNFVXcE1SazlxY1haQ1JVcFZaMjFOVkRSWVNVOUhOakpyZFdoaGMwTnRXR0ppWmxWbFNuYzFabGRpZW5odk9EbE9aWGMzYzJaUVlrbHZaazFRU0RWQlQzUlJka3RUYTNab1JYaEJNREJPYUdKb09WWlFPV3RQWEM4d1VtOU5TRlE0VkdGNE9IWlJNaloxUkZwUVEwcFVVamRPV2xNcmNFcG5UVXBJU0V4aVUycDBhMjFNU1VNMVVHaERVRTlCTVhGTFNHbEVaMmx2Y1RCRFVHeHNibTlOYWt0b1JXWjZabU5vV2xwcmFITnFRV3RyZVdONVJ6QjZZM2RFZERORGMybEtRMjlOVm1waWJIbGpkbTEwUVZsaVRWZ3daMDAwVDBoNWVFY3laVXQxZUVWVFJVbEpWMnhTZVhWYVQzcE5PV3cwYmtnNWJUUlJha3REVVVWTGMwUTFOVGRhWjNGclRITjNVVGRsYVZCTFRWRnVVbTFJUkd4c1QyOWlOMVJvYlVrMGVIRXpZVTFGU0ZwQ2NrdDNSM0V4TWtveFRIYzJOazljTDJ0M1ExQjRSM0Y1Y0RReFNIRnNXWGRsY1ZObE5uVlhlRVZxUlhSRVVUazBaRWhFZGxKcGJrVmFVR3BEWVdGSFMxRmlUMXA0YkZaRGNWcFVhRGwyVVhWTVdIQnBUbFpUY3psWlJ6bHhkM293UTNGUWVHVXJWRU5zYnpWR00xcEhablZZT1RWVk9UVmpRbGxpU0RSalVGaDNhREJFYXpKak0yNTFjVXN6Y1doeFQydEZjVVZsVTNWNEswdFdXakpRV0U1V1oyZzVkbFpDV210Wk9IZE9lazgyTVZkS1kwdDFlVVpNVEZGY0x6UnhXVTluWTBkb1VteFNNMGRjTDNoMldHOWlYQzlvWlUxSmNsTnhSa3RjTDJ0S1J6bG1jSE15UlZGRFNuZGlSbGxVUlV4WWVXSXpZVzFDWWxFMlJ6UkVWMWsxYVc1SGJGSnZLemx3TVZoSlptMHhZVVJLYjNCU2FXTnNhM2RhWVVsbVYxUk9WMk5oWVRBMFpVMVNUR1JwWlVwVGVWSTRWRXB6TUdoTlJHYzVORWhNZEUxSVNXOUpZalZUVkVZemQyZENPRnd2WlhSR1JXZE1aVTlPWmt4QlRtZEVSbXR1TXpOMVNqWTRhVzlQYUVab1ZqaE1NbUpFVnpkd1VGSm5RMEl3UVRCbGFFazJTVFZKWjJwUVMwRTNOa0pyTlU5YU1FbGlYQzlCUTB0YVExaE1iRkpuYjB4TVpuTnFUMVZyVUdsSVdXOXVOVE50UVZaWWMwazFhMWtyYWtOdlRGQk9NemxUVVVsVFVtWk1OR1o2V0UxbWVEQlJjRlZoU2psQ1JrUkZTalpaWkV0TU1EbHdNek5OTjFCTFVHUlBVMmhQUkhwRGVrWm9Za0pMZFVoQ2RVRmNMMHAxVGxOUE0yNTNTVUpaU1dNMVprRXlOMWhQZEVSMk1sWklkemgxVGtSbGFXTk1TVkZrSzFKV2FuQlVVMmhaZUVOT1EydHlaVTFOTW1aQlNuVm1URUVyVGtvcmFIRkpaSEZhYzAxWFlVOWhXWEZSUjBsMmFUWjZSRkJ0TkN0bVlqTmtWR1J5VW1sNWIzb3JZVXRzZEZGVU5saHFPSFV4U201RFdURm5aM0JMVVdkWlkzbG9hV3hyZW1kdk5VRjNjMU5DVVcxa1ptZFBRbk51VkV0YVJXZ3paMnByU0dsb2JYaFRXVEZvTmtwRE5tOHlOR3BKVWxSR2QxZzVTRXd4WTBkallVNHhXWEpGYzNka2MwSmFZMUZGVm5SQ1ZubElhbGxPTmpsSFoydFVSV3BDTmxKMVJrOUlSMjFEVWl0MWJESk1jVkpFWVV0VGVIUjRkREZIUVZkamMwZDNORTR4UkZkNU9VSnNiVVpGZEZNeFkzcENjRmxRUzJVMWVWbzVaMDljTDA5MmRuUjNRV05ySzFnMGNuWjJYQzgwU2tOamJVcHRSR2MxY20xdWJETk5YQzkxV0UxdGMwZEVaWHBzU1dOVmFGRndhVGd4V0UxdVZTdEZWMDQyU1hnMldVRTJiVzk1WjB4bE1UQkJkbXhIUkVoUlJEVkdYQzlJU1VSMmJuQTRVVkoxVjBwSk4wazBWM2d4YTNSS00zVjFZVGxjTDFNNU9XSTNVMUpRTUdWalUxd3ZNMVIxUkhGWmRIZG5ZV1phZFRBd2RWRkJSbE5xUmpKSVlXeEdZWEZKU0N0cFdEYzBhVFk1U0hBNVJuTTFlR3BrYWpaT1VuZzNRVkpIVmxKeFlrZHFWelp0UjIwMmMyNW5WM0F5Wkc5MmFIWlFSbEV6T1ZKQ00ydFJTbXAwUVZaS2FGQktWazlKVTBFd1kwMUpXblZuZEVSS1RsTTJkbFJJZDI1d1YySTFjMFU0VTJSMFpXYzVjM2M0Vm5wYVZuZElaazFyWEM5TlN6aHJXbFptVTFGR00wazVUa3A0UXpreVVqRkhkRWRCVGxSa1lrSnljVzFFVnpoWVNIbHhaelZEVWxweU5tbGxWVXh6ZWpjM04wVk5ObTUzVGpka01YcEZhM2wyU0ZCU2VFRmpiazUxU1ZSM05rWkVOaXRJY2tkNmFEWmNMemhKVkRnM1dqRkRXRlZ2YUVSd1RUSnFLMjlyY0ZNMGNsRk1lVVZIVWpJM1NtOVhlbkJ2YjBSSlZVWklabWh1YWxNNVIwaFlhamhJTXpsdGJrVTVZbUZCZVRKVk5uWnBVbEpIVkVOWlEyTjJPRGg1UVhJNFIwRlBjMXd2T1RoVlpXSXplbW80Tlc1RVkxQmpkeXRsYWtwTVp6UXhiMUoyZEhoU2FYTXpka3BPUVRGbFdVcE1SMWRQTVZWSFJGbElja0ZhU0UxU1FuWmxaekZwTTBSNVdXaEdWMHhTZEZCSlRFZzNlbXQ2UVRseGNqQlBTRGh3U0RKaVMxUk1kbEpFYURkVU1tbGpVRkV4VkdkR1FrNDRVVzlLUmpFNFVqQkVSbWd5UldkYVRYZzFiQ3M1YmxwdloyVktZek5HVG1GclUyZE5VVVkyVUVSSVkzSmlTV2xPU2tkV1ZqSnZkV3N4U0RaUlkyTnlRVlpZVG5oTE9DdFBka1J6T0hGTlV6bHphR1JYVUZ3dlZraFphM0pUVURoTVJYbFVkSEV4U1ZaSlUwczVRMk4yWEM5SlpuZ3dVVVEzYTJKWWJucHVTMlpoT0RCalhDOTJNRkJrVjBRemJtZzFWVWh2TUdGWWFEUk1ZbVpGV0haamFHbGtTVUpyY21RM01FaDFOVmwyVHpsck4xVXhXblJvTmtKV1oyaE1WVXd3VkdSTE5GZHNjV1ExV1dodk5VRkhWQ3R1YUdwRVZVNHhVRWRuWW1OSlkxUkNaVmhQWlhwY0wyaEpaSHBjTDJOUVFtTnVXbkZ0WW1OMlFrRmlTemhRWVRZeFhDOUlPR2t4WEM5cFNqVkxaMm93SzFCb1NucFVhbXRuTUZFd1ZHdFlObGxXZDBOaWJIZGxjbEUwTW5CMVQxcFZlRWQ2UzBkS2MxQmlVelJpTWxSb1ZVOUlUVEZEVWxoVmNqSkJTMkZjTHpGaFEybGFVMlY1UmxWRFZtRTRZVmxUVVdkbFIzbHljemh1Y0daSGJFZFBiRTFMTW5ocVZGTjBkMjEwTW5GU01HeEJTMDB4SzBRck5sRTBhV2QxVG0xRVlsZEdVVEowVW0xU1RUaHBRbEZ5Tms4eFdHOXdkamxxVldoWmRFSnZWRVp2TkVkRWJWcE9lakYyV0V4dU1Gd3ZZVzh6V0dsNFlsd3ZPVXhITmpBNUswNVFiVnd2YWxCV1prRnhVMWhVVGt4R1NUQllaV3BZVnpGcFlrMXVaVWRFWlhoRk5uZEtRV3RKUkVZMlFreFhPVGhwYjBKM1ZIZFVSelprUkZReGEydFRhMWg2U21WVU1qUmxhRFpIZVZSVlNVNWlaVkpJVEZoQ2VFOVBVa00zWkVKaVQzWk1RbVIxUkcxamFIaHFjRGRXZURkNmIyRTBNRGRjTDNGUVpETnlaWGQ0UVZKS2VGSllRbHBsV1ZSSFVISkZURXg2VG1NNFYyNUxPVGhwYm5SQmFreFVWVXRRWm1WNk9HVlVSVkZPZW5Ga2FWWlBRMFZWWWxCa1drZDNSaXM0Vm05eGNrOVRVblJhVjB4dlpFRmFXV0pWZWxSc05sTjZNVkZLYlVOamRrOWtOa2ROWkVsSEszRm5jamxLVTJFMGMwbDZUemh6U2sxQmFWbDJNbGd5VmpCY0wydDZhemR1ZFVacFZWTXJTSGcwT0hJeFVtTk9ZMHQzYUVkbFltZE1WV3cxVmtSRlUwMW9UVTV4UW5OSlNEUmlUM013SzBsb2VrMWpSRXhETUZ3dmJHeExVR3htZEhVMGJITmhSellyV1ZOM1kwMUNVa041VjFsMWVqUm1jSEJRVUhoQmNrczBjbloxTW5CeGFXRlVaSE42Um5nNFJIa3djbXh4UTNwVWRETlpabHBaV1ZCblVWRlBXWEZ2U0V0c1p6UlJiR2hVT1daVFVrVXpkM053YzNvM1NHSnVRMWRDTjFkQk9WZEhVMmxSVkhJMkswMVFlRFUzTUZSb1REUXhSVTlsTTNwSVMzUXpVVXN4YldJMFprNTRXSFZETlZrMGQxb3dPVGw2Ulc5WE4zWjNOMWxtWmxselUwbFdTbE16TVdGRGRWRlpWa3BCVlhKTFEzVkpkbUpTWnpCaVJHUlpRbGQ0V1dGRVdqTnhNMVpQWnpocWFHTlBSM2RQYzBKc1RWa3dlVXMwVVZOTFluSnliWFZIYUhKRlpFdHZTVzExTUZWTGRubFlTWFZGVkUxeWJFZDNWekk1YkRGYWRGcFVOMHRSZVV4VlVqaFZjRmxIU0hGUmVWTjZjalUyVDIweFdTdFJkMEZVUzFCc2RVUTNRM2w0VlV0UlVIYzBabUZ3YTBwMVhDOUNZblY2UkZkWVdETkphVzVvUWxGY0x6RjRiMUJFTkZaVVdFUjNWVkZLWVRsTmFESjZUVEZhY1NzMlkwNHpXa28zY0hadFREZzRZM00xU2twd2FHeHJVRmxPUnpoNFpXaHdSMGx4U1Z3dmNUSkpVMVpIYUcwMGVGaFNlVnd2WjNsdVYxRXlia1ZSTkZwTVEyOVJSVXBpVFhkeGFEa3hXbWh4ZDJOcWJsQmthblZRVlc4M1dVaFROMDVjTDBsMlNsQkNYQzh4YzI5VVVsTXJORmhET0Z3dmF6RlpRVzVrYmtkWVNWRmxWbXdyVVhaNmIxWmpXamhOVDFoMWVFRmhiVzlSWkZkbFdIZElRM1pEVTA0NFQwdENNRU0xUkdoamFXRTRSVnBEVXpFMFFrcFFPRUZYVlVVNGVVVnZUM1pwUlZsY0wzaDFSbmwzWkZWaVZUTTNlVVZ3TVhneFEwOU9iM2RpU1RRcmNrd3hlalJ0UWtJeFZFZE9SSFp3TVhwYWJVMXdSekJXZGtSYWMwOXZSalpQY0d4SmVXRnJSVGxPYm5VclQweHVObFpaY3pOSk1sRnZVbHd2VVU1RVpHaE9iMHRMV0RRck1tZEdaak0zUmpOUU9Ya3JOblJEZFV3NFhDODVXSGRpTkU1M1NGcGNMeXN3Um5KR2NUbEhiVTFsVkRsNU9HTk5lWEpyWEM5alkzbDRkMlEzWlN0SFFXTlFZVFJXUVdSNFhDOTNibG9yVUc5cWRqRkphVk5UWlhOTVIyaE9ia0ZSVkdScmNGcE9hVk5FUWx3dldETnFabFJ0VFVwek5IaERVVlpMY3pWT1owVk9iSFJOU0hsSlVISmNMMEU1SzJZM1JHdDVkSGMyVTA4NFNXNHhhMDVVYkVsaGJtTndTMFk0ZUhoQ2IyaDBUaXRJTlU1NFprSlJaV1ppZG5Wck0wTk1iV1VyVDBwalRqVTJZa3RGUVZ3dmFGRXpNVWRxVm5GNllUZG5RMlpuUlVOSlpFdEdVV1pOU0doV2JXZFpkRXd4TWtaWVJ6bEdNRFI2Y0VkWEsyOTRNRlpOVUc5VmJqbHZVREpRWmpWdlpFUjJlRnBWWm5WWGVtWnlWVzFvWlZCRmJGd3ZSRkZ0YzBod1V6VklhVTEwV0ZaV1JFVndWMFpSV0VGUU5ISlZXRkYwZVhGM1pGYzRkbGR6ZUhoWFJFbzNlSEYyY2xZeU4xaFBZMmhRU21GVmJWd3ZkWFZCTlVZcmIyZHplazVGTVVod04zWnFkM2hsTTFBMVQxVlhVazVqVTFsWVhDOHlXWGh6SzJObVRrZGxTRGhFUVdveFRFVkNhMXd2UVUxV05WWXJSVlI2YjFkYVRrdzJZMFpDVjNCbFhDOUJkRTV0WXpsMGJrcFplbWRIZUcxTFZsUkxiRGx6ZFRneldtWmNMemg2T1VVMk9FaHZlbVZSV2tab1ozRkRNa1ZKUTFCcVdVNDRNV2hPVDBsdFJWTjVjMkZWVFdOdlUwMTNTRUpuVEhadGVtRmpaMFYyU0hnNVdWazVlVWR0V0c5MWJHZERObGxOUVhGVFpUTndSSGhHWWtOTVVsSlNiMDF4UVd0YU9XMU5NbFJTWVRCV1dtSkVXRE5zWmxsM2QxWXlUMUpxZDBWTFZ6UmtWR1JFYUdadE5XdHJhbW8zVURod09GUkJPSGR4VUVneFVscHNSMGQ1UzJ0TlkzZ3dVemxRV1RadlJtRjVWV1F6WjJoYWJISllUVVIyVUdjcllsSnZhVGw0TTFVMFpXUXdRbkZVWmxoVldGRnVPRGx1Y0VONE5qZFZNV3hYTXpGR1lWaFFlWFpCT0VsdFltSmNMemx0ZVRNME5VcFhaRTE1SzJWUE4ydHFTVlZ4UjJGU2RtMDBkbE40Y1Z3dmFHOHJNVEk0ZGxOWlJYZFJUbUZ4UTFJMWQxZFpWM2RGVTBST2FFNDNhV3RvZFRoc2FEbHRlRk5aTkdaNU5UQmpRelZsT0ZNMVRuUTFXSFpvTlhOSldFZ3JlbU5pTkVSblprZ3JWM1ZpTWxGNE1WbEVVamhZTTNGYWFVMXJSR1JvYzJwVFVteEpURlUwUkRRMlEyRjZjSGxEWjJaVFdteDRZa05NT0VGTVNEZDZOVXhSVmtocWNEaDZPVmhDTVV4WlFscFhhekF6VUc1bmFVVlpSa2w2ZVZKNk5qbEJZV3RYVkhGNFFWSktURFJoTnpsNFFWbFlabEV6VW5aSWVEUklVMmhFUW1wTlRsWktWMDFSTUVScWJFNVZVRTlCVTNsdFltMVBiSGRaTkRCeVdIRlRaRk14ZWxCdWNGRnZaM055WmtSeFQxUnBNWGRPWVRkTVhDOXdkMDVKV0cxQlhDOUhOR0pOVHpkTWN6SlZObU16VDJaaFpESjZlamMyUTF3dldsd3ZlbTluU25Jd1YxSTBOR04zSzFGd1ZTdGxXazVTTVZsMFZIbGxSa1pWZEhCcmVXSnFVekJpWnpkR2RUaDViVTFJZFZGRWJHODNXazlsTms5YWNWQmtUMUkyVDNNMU0wSTJkSFFyZDF3dmNYcGthbkJhUWtoY0x5dHhjemxvT1VRd1QwUTNRM2hQY0dkUFRGSnpaRkJFWmtsdWJEaE9XSFYzUVZwM2RVWnhaVVp6V2pOWGFqUkdRMEZQUVZ3dk1qbDBaelJVUzJoemJVUjRia2hOU21wM2RraEdkWHAwZHpWa2QzUTRhMWs0UkVrMVoxRlhTM0JCV21OTmIweDFTVU53WVZoSGVUUllObXBGYWxadlNGSXpabU5vZEc1VVZFdFZaMjF6UlZJNVIxVnhhMXd2YldaS1pFeEVOakYyU0RkYVVHZEVUREJQZG5jMlRHWk5lRGhLTlZSNFNYbFlialpEVDBGMFltTklkbGRjTDFOdllrWlRhbFYxTWtKcU56bGtVblZYTjBOdGVYUkhkREF4Y25Kb05YUXpSa1ZTVlVkSVNYWjJjVGxqTlZ3dlIxSkJaVTlrYml0aFVVMW9Sa1Z6VEdwRFlqYzBNRlZZWTNoRWFHOXBZMDVYU1VveFlubzJRbGhrTkdrMVNqZzFhbGhsWmprMFpXSjBRVzEwVW14Y0wyNW5UWGRRZVhSSFJEaG1WalZxWjJWRksyRmxjVFpzY3pWYWVtNVlURFZuU0dOYWJrNUJOVkZHVTJwTlVIWkJXSHBKU25WNGQwWnNRMGREWEM5QmNIVm1ZVzFWTUZBMlVFMXNZazFhVlUxdlhDOVlPVTFEYlRkSllrWmFSV1ZyYW5sbE1sd3ZabTlQVEd3elRYZ3paV1pjTDI5RWNtVlJWMWx1WlZOQ1EyTnVRa05DUTFFd2FFdEpWVVpXYWxKS1dFOW5jVVZUVDFwRmRuTmNMMWRWY205S2EwMUpjM2hvWVhkY0wwTlpVVXBRZWxCNllsRmNMelpEVURsS1RHTjRSMUJhZG5wMWRXNTRRV2x4WEM4MVJUbHRWRkptYURoSVJUSkhhRE5DTWt4Q2JFWnpUR05VYjFCbVdFbExkV1ZvT1ZWV1hDOVNRMGwxTjFoSGNESnpWVUpZYmx3dlpHTTVjbVk0VTBWUFdXbFNiM2RoYW1WVU1IZFVYQzlsY2pad1pUaHpUMlUyTTBaQ1ZXMDRUV1Z4ZDBoWGMzTlhURVk0TmtZMlprVnJNR3A2YmpoUWVVMURiR3hsY0Z3dmFITjZaM3AyTWpodFhDOVVUVmw2YzBnNVMxZHpaRVEwWWt0a2JUUXhTV1JXYkdnNVNFdG9hVFJ0UldJM1VIWkJRVGNyVVd0dU0zcEVSRnBjTDFaMFpXMVBWMlExYmxkMWNsY3lRWEZ5WmtRNFRqZzJlRzlqV0ZNelQzTnRUVlpwTkVkWlNrZFVUVzVKT0doS056ZEJNMnc0ZFZsMFhDOVhXRGRGWEM5MGVIRndXa054YWx3dlVWVnZOMDlVUW5oa1RWWnBNV0ZQYUcxeVNFb3pRM281YW5KTVNVOTJRbWhVY0ZsbVdVUmlTMFl4VGtaelkwUkpiV1k1YXpoNGQxRjFSVlZIUzFScWJWTnRUSFZxYjB4WGJsaDFLMUJwVkhsV1FVbHFORVJpVm1kV2JHOTRkVEkzVHpWQmFUbEpXRWRsVFVobWRqY3dlRVJtVFV4cU5uUmNMM3B2WjJGU1VHazRVRXhUZWxkb2NEWXJhV1YyTTNvMWJFSXJYQzh4YlZvcmRVdHphemRFVjB4TE5GbE9jSGxDV1VReVVIbHlRMlI0TkhCbVFubFFOR3BJT0Vkd1dFRm9Ta1p0Y0RGSVFtcHdkMjlYVDBKNlZFSmFRVmRNYUZRclJsUk9YQzlDWm5SRFRuUlViVWhpWVVaY0x6SmNMMmQ1WlVSNU4wSjJlV2RMVDJWeGIzVlFRbnByV0c1NGFtZFRRMnA1UnpkREsyUm5WM0pNTlRWQlZqVTRUMVJEU25aTVptMUJielpYVkdGNWFFc3dXbG8yU0hrNWVrWlhVRmg1ZVRWbk1HSjZVVTljTDI1blkwWTBOV1I0T0ZnNFVuUnFkRmhOZVdSc1FYRXpVbFYyVWxWd2QweFlkRmxLVTBSclVEbG9ZbEpxV200NWJFZzBkMjEyZGxkV2NIa3hiREZyVTBsS04yZFBhR3BuZFU1Q1ZERnFURmhNV2xaNGIwOXViVFJHU1hWRU4wOWxibEZuWEM5c00xQm5TMDkyVVZWbGRVNWlNMlZ3WTB0R1RXcHlVVkpyT1RjMU4yOW1kbVlyTWpCR1QwUnhObFJLY3pOaVdEZFlkMDlGVDFaS1UwVnRRWGhoUkVWcmVHdzVYQzlOVTJoQlpXRlBlVU4xZFROME1rcEtibEZDVUhwSVlXaEJWak5CYjBscmFtTlBWVmhKZVV4dmFraEpXbXA0VVVsNlZFUnVkbXh5U0dZelFVVmNMMjV1YUhZNE9FTkZLMjR6ZEZaTFdYTnhWM2xWTm0xaFRrRmxVME5XVDJSdEsxQTJSRXB5WkhWVk1rbFNaRFpHYnl0MFJuZzVOMlF3VDNvNFIzSTJPVlJTUVVvcmFtZEdSRGQ1UTI1YVFWSlZObWxGTldjMU1EYzVjVXR0ZFhCNUsweGNMek5KVmpVM1pubFhWM0pZTkVOYVUxVXhWR3hLVDBkU1FVNXljSE5ST0hWa1YyOWlUemhDVFV3eVIzWkJXa3h0UzNoY0wzRk9RVzFUZVRKUWJrTmpabEJMWjNwWFRtcGhTVTFNU21KT1NtbzRaRVJuVEdORk9UWjFZVWxSYTJWblFrSmFSSFJvZEdKVGFUWTFXVXBPWlRGMGQzSmpTVVpEZGpobmRYbE1VM0JUTW5oWU5tOTZNR2cwYUVoMk9XeHlVRGhUU1VOTGVFVk1UbVpJU1dSc2F6bG1YQzh6Um1GWWJsd3ZjakpsTWs5bk1IQndkMGtyYzJWRGFtWmxlRnd2ZDFwWmNsTnljamhDV0dKdlRrMVpiMDkyU0hobFpERlVXbTloVkdJMmMxQTJTakJjTDF3dlJUUndYQzlKYUZOR1NVNXdWVEp5V1d0T1ZGZDNVMEZzWlhad1ZrbG5RV1IyUzBWTGFrNHlVbXh0YWtOVGJuVlNjazVZTXpSQ2VEUnRSRU5QVVZsdVFVRjRURTFXZVZCUGFDdE5ZazlpVDFKbFREVmpkemRrTnpSQ2JYVjNUR0ZHYWxKRVVHNWhNU3RGTlZsVFlVZHFNRFV5ZG5GaFZFRjVhbXA0UTI1RWIwWjJPRVpLVW1abWQxbG1UMXd2YTFGb09ESmFZV041SzAxeFR6RnllbEUxUmxJNVZGWmFiVXBSTkVSdk1saDVNRzB3YkZacFZHcDNPSGhHUkZOeVZ6VTRNVzl3UzNWWVFubE5OakpyUjJsM1NUTnFXVXBGZUZwSE5HNU5XWHBtV1cxVFpsQTNXbWw2WkVnM1dsYzJPVGhrVjFCb2MyOVZVRUkxUTNVM2FEZGpkbkZJTUdaUFdIQmFPVkJJUkRORVFrVTFVRXBGVEVveFYwVjVSemhPVWtaUVZEZGNMMlZvWmtkNFJuTjNZVGRGU1ZCSk5HRm5XVVYxY1V4VGNUQlhiMUpKY0hwSU4wVkhNRTkxZEhwSU5HNWNMMHA2Y0U5M2NsRTNVSGhKUkhaVE5uVldTM0JYUVRCRlVqVkNabk42Y3pGNVJFeEZlVVJVTlRsa2FXSmhUbTR3VHpFM1RHSndTalJ2VjBKM2VFdFRURWRET1dkbmIweE1SM04yWmpFM1dtMVhRemRRU1hoRWVXWmhXbGgzYlVVelZuUlJXRkZjTDA5T05XUk9PSEpvWlhacFdqaEdlVGt6U0hsR1pGQkRjMXBHTUZacWVTdEhTVEUxVGpaSE5XWkNXWFZFVDJaVE5pdHJielJHYjNJeU0ydFBRbWhUU0d0Y0wxd3ZjMVIxVjJ4d1VYaHdUbTVNYUVoclFVZFZWMGRITTBWQlEwbGtSMEowTjJOV1VYaEZlRWRQZFRKVVJWcEZVVU51V1doc2RFbEZibkpvTWxoY0wydHZZV0Z4WTFkb00yRTRjMDV2SzBkY0wyWnRYQzlwV0hkS1JWRkZTRzlRT0ZKT1NuaEZUSFZ0WEM5c1ZuTjFURXg1ZGxKTU1VVkVSamsxT1hwQ2NXWm5abXB2Y0ZScE5qaDVhSGszYmxscFdUWjNXVzlWUlRKeFJXMVliSEJwYTBkRFoxRXdSM2xyYlZVMGVta3JZM2RQTXpKSmMzaEJPRWxDVFcxbE0zRndha0ZvYlhvMFduTTBhWHBaYm1Fd1VsSnNSMUp6ZWxsaE1FeEdYQzlHTUhjM2RqUkhPSFJSUms1R1owWjFSMGRUYjNOSmEyZHZka2xWUzJKUmFsWkZkM3ByY1hWRVFqQnpTSFp2TVZwTFlsaFJZM2dyUVZOVWFVcHhaSGRKZEVvemIwcGpOM0JMUzNWQlhDOVFWek4zUVRKTU5qRjBSbkJOWXpkYVJEWlJjakZwVERseFNYbENVRlV3WjBOWWFWRlZWVnBoTmtKelJYcDZiM0Y2UnpsTVJFOWthemgyYWxGclRsb3pNbkpuU1hwWFEwUldaVkpIY1c5bFpESlRWa0ZMVFZkNlRVUTRNbFZGVVcxY0wyUkNNRVozVEZVME9GVldNRGxWUlhJMFkzbERWMU5OY1RaSVIzcHBZMmc1VVRaWFluQXlTVGRNVDFwNGJGTXdYQzl4WEM5bWRWZERYQzkyUTBkNldGZGpOWGhrU2sxWVozZFZYQzk1VUVrNWIzcERjWFpsYmtsUFJFOTVLMEpsSzNNclZYRlBOVVZGYzNOeFRrOUxXVnBEZDBsWFJrbHRNVkpLYmpKaWNDdDVhRmh3WEM5VGJHMDFOa053WjNCUVVrOUJlbkVyUkdkRFYyMHlNQ3RQV1ZobGRYUmtWMnBtZEdodU1sbGNMM1puV21SSVExRmxja0ZSY1VFMmVVd3dja05hWnpkUFoydDVkRko1U1d4Q1lrVkRNbEpKYTFKdmQxTkhjVVZHTUdSUWVYTjZZekY2U0hVeU1tSnpla1YzV0ZCbldGd3ZlV3BJVlU1a1dFRTFYQzlZTTBsQ01Dc3hjV3REYlZZemVsd3ZUbEZvYTBNMVhDOUhkREZtWmxFME0ybDRSVWQyV2tkbFVrUTNSWFZUWlRkeU9VVnRjMUJpZUdVMlpFNURjakprWnl0U05FeDJSM0ZJWm5WUFYzQkdUVFZVUW1waFEyTTBNMVE1UTFOR2JsRXdaVk5IV0ZkUlVYb3JWR0pGV2x3dkt6SkxOVE5PY1RnMlpGZFdka3gyTlZwNmRuaE1aMFo2V1Z3dmVXNUhlbWdyU3poVmJGQklhSE14WW1WeWEyNUZkRm95ZWx3dldWaG9TVFp6ZDJsWlRUbFZWblpyUlU0MFRHdGtkM0JxY0VFelNESjBlVWx6VnpaQ1FXUkVaMUJXV0dSS1RsUnVSV2xJVW04ck5GUnFaamQ0VW5jeGJHZHVSVVpVT0hGWWQxZFFSVk4xUzBoU2VuSmxiMDFZZERkcVltVjZNRkEzU21nMVFWYzFPRWRrWWxkaWMwZEJWMXBvVVZNclFuRklaVkZDU210UFRqVm9lQ3RyWlVGYVVuTk9YQzlUY1ZSaWFXcFZkVWxUTXpSU1oybFNVM1ZzUWxWWGN6aFZTblJ2VUVSbk5FSXJaSEZXYzJsb1ptSkZSblF6UmpVeWRsQlJYQzg1TUd4V1VVeElhMGRJUW1WYWN6Y3dkV1l5U1ZwSGIzQjFVVE4yZVVwQmVESjRkblIzSzJ4eVhDOXlRV05EYWtScVNIbENWMmxUYVRKQmFYaHpZalpYYkVGWFZVVnVXa05JT1UxWVdrbEJlbXAwVGpKR1UwTnVSVFZTTkdobWFuRndVbkZjTDBzd1NtMVJUU3RZZW1KM1VWd3Zaakp5WEM5MFNFTjROa2hWV1N0UFpXcG9RVVJNZFRoWFJUUnZUSGxCWWxRNU9HaGphVUpwZGs5MlVGd3ZNV3cyWVcxcVpHRkZYQzlZZWxWbmREaDVSVlZUYkhOcVFqVndVVWhXYms1dWVtOVphVlk0U3psTU5tbGNMMEpxYTFGV016bERORWxHWmtaS2RIQnhaRmh2UzFKME1EVjZVbmQ1Y0c5VGJrbHRhbGxNTUdsdGVtMUpZVWs0ZURJd2VXMU5TREJtTUd4clYzaE1SRkZSUldwd00wUTNWRTUwVmsxeGMxaEVTSGt4UWt3NE1tdFZiR0YyYUZGMlJFSXlUa1UwWTF3dlVVMWxZbXhNUlhCalZFUTRhMEowT1ZwRVozRkxNbkY0WmpOVFlXbHFZbVVyU0U5MFUwNURNWGN5WlhOUlJYaFNRMGhsZVdsYWIzWmNMelJSWW1SV1ZsVk1lVFJFZEhsQlUwNUxkMWgyUW1NNVEzaDVlakV5YWt4T1IwRjVNbmhHV1hKeVJEWk1UV0ppUVVzeGJWTldSM1ZhWVU1cFNVWkJZMHhCVGtSaFVXdHNXRlZXWVV4NmNHZGFiMHRKV1RWdVlWcENWSHBWVG5weWQzZEthVlJHWkdJM2VqZDNZbGxrYm5nMU0xZFBhRGhSTkdGclhDODFWbEZjTDF3dlZrNUVka2c1YjF3dlNGUnFiRE0wWms0eFVGVXpORnd2T0hSMlZYaFZLMjVaZGxOVlRrZHBOM1JqYWs5TVRVaE1XREV4UjJ0TGMwSnlOekJoVVhCWGFVTlpUVWNyVDBOWVdUTnlPRzlTVG1ob1NuTnlka2t3WkZSdmJISTJWazlUYzBwSk5sVm1ja2QzY0dNNGFEUk5ka0pzWmxacWRtSjJkalJJS3pGNFhDOW5ZaXRwUW1kS1JVTmlTMW81V1ZsUFJXNU1VMlZZVUZwd2NGSm9TSHBpTmxrNFhDOVdZamhDTkZscE9WcDFSbVp3V21WUVJEQTRORms0U21oNFpIWlViMWt5ZW5Kb1NWQnJXaloxZFVZeVNVaHdTMHc1WldwS04ySldOMFJKYVRSMVFrWkhRMmg1VVdkb2JWSnRLMWhSWEM4eGEyUXhiM0Z5YzFCeU9XWmxhRVJDZEU1TVZFSjVXa1JRWlVGTVN6TlVkbWg1TTBGU2FWSkZUR3gzWTA5cFVWbHlWRFJ2VTJkNFVVNUtRV2h0V2x3dlFXYzBVMmRTU0ZOMFJXWmhUVlZ5TXpGNVJIazBLMVZTWnpWa2VHSnRTbWRUYUhaaVJXSnRlamhjTHpSbVVFOXRLM05jTHpNeldHbHplV1JRWEM5SVdVNWNMMk5rUlZBeGVFRnRTa3BVWlhCbFZXaE1aR1puZEROVGFHVnJha1JKYW5jclFsWlhiVkpGUkZnd2FFZDNPRXRZWTJZeGMwZFpOR1VyZDFCcVNDdE5aMDFuU2trM2VUbEZWbkJaVml0YU5YVkhRemxWVHpGMmJVUnZkbVEyVkVVd1RFTnZkRlI2TUZCbWJWRnBURWhZYkdGUVhDODRTVE5CZGtodlkyWjZNSHB4YUhWdWF6aHdlbkZUWTBORmFGbEtVMXBJU0VSSWNsVk5lVGRhWEM5RGEyMHdTSHBpZEU5bk9HWlVNeXN3TTBzeFIwZE5ZMFpQY0cxaFRXOXJaVXg0VVdkTlUwVk5VVzgwUm5sdFdsTm5kMDVFVldGd2RYYzNibmw1TkdwNWJGTkhWV0V5VVRKUmVuVllRV3A0YnpaeWMxVXpORVI1TVdWa2FHMU1SVlV4YUcxTWIxWnBNa2hLY1VOQmRHaE1PQ3RJY3paRVEwZHJPVXRyYlN0bFMyZHBOVk5XTVRSamFrSnlRMmh4TmxocFhDOVFiamxoYUZkQ1YwUTFLelk0WjA5WmEwUkxXRXhDZERFMFEzbDVZMU5XTWs5RlMwdHRkRk50VHpJelVEY3lNMlZ0U0haNUsweFhWa0ZMUTFsdFJYVXhlRkpsWVRsWmFuWXdOM055UWpoMGFIWTRkbVpYZHpoVk5HcFNTRzlpWjFGMFNHODNXaXRDV1RkelVHOUxVa0U1VWxsTlRVMVlUbHd2U1dKclRtdHdVV3h4VVV0NFUyMU9iV001TjNKVlVVbFJORnBDS3prMVl6bERZbVZSZVdRek0zZEhhak56YkdORFR5dGpTRm94VDJONFMwZzVUbEUxUkhKbVpuUmlTMk56VDBKT2FqUkZVVFpsYVZaNWFrVlVlbk4yWjNWMmNrUlNaSGt4UnpKMGNsSnBLMWxCY2pWQ2NISk9ha05CWjBwa1VrdE1jSFJPY0dNMFhDOVBhRXhVYUhGbGFWd3ZOa0kwWmxBNU1rUTBOREV6YzBwTGFGRlJkVnB3V0ZSbVZFOUZlamQzUTNFMk5GcFVXamwwUVV0bE1FTnVOWFoyU1dKSlJsTjBVU3RWYjFZelIzZGhRWFJyUlU4NE9FWkdVVmxvY1haWWF6aHdLMUYzVGs5a2FYZ3paallyUldGY0wxSm5WMHhuTmtaQ05tTkJia3MwVXpoRE1EWnRURkZwTlRkS2VGSlphMHQyYUVaRWNYTnVXRmRKTnpoa1R6WjJhSFp0WEM5ME9XdzJOMjlNV2tkRU5EbGNMM05wWVhoNlpEaGtabkpIZFZwbWRVWnlaR2N5Vm1jMU1WVmpXbHBJTlV0VmFERTNSVU0wVUhjNGVHeDNNMEl5SzNkRk9IVTRTVTVyT0ZvME5ITkxVbGgxVkRGRFJFWkNTMjlNVm5GSlZYRkpRbThyY1RGbGFXTTVaRTlYU0ZvclFsUXJjVGQ1TkdOc2RFMXJUMnN3YTFSWFFVSnhNamt4ZW5OU00xRmFiRXBvWjB0MVRqaFRLM2RVYWpKU2VtMDBVV2RZUTBaUmIxVnVhbTFNZVZCbldVdHBZMDFEVm5WYVNGZHJhMHhaVms5RlYwTjRWMVpJVkdGVlNqRmhlakJEVUZOV05HSm1kRzVQVEdwdFpHUjZjWHBOWTNkRFlrZFpWMVZQWTNodlQxTnNSa3RpZDFGdldrOVhYQzg1TmxsTmJ6WXJjRWN6UTNaeU5FUmFiRkJDU0RoQlUybEpORTl6YUhnNE1YVk5aVlJDVEhCbk4zaDRWMVpvV0ZaUlFsQllTSGRwWlVwYU5YQXJRVnBtYTNWVldFUlNLMnc1Ukc4MVpURlBRbFZyVW14bGQyWXpkV28xY3pRMVlsYzBLMEZUYnpGbGNVaEVNR3BEZDBWRU9Gd3ZUVlpLYmxCdmRFWXhUVmRFUm5rM1puVXlWMjB6WlhZMVlubzVPR05JZVhoUVFYTk9VVmxzYVZKQlpuZ3dWbWRYUVdWaFR6WTVRVWxUU1hsYVRGWnFkMXA0VVZoTmJuQjRVRFZQUTFOTVkwaEtRVkozV1hGSFJFVlpVR3RVWmx3dk5rZGNMM2RaVkRaMWFqZ3hNaXR2WVN0aWJYRm1UMWRGZUdsNE1sVktWM0pMYTJkTFRrRjVZblpGVUVKSk9HNXBOSGwxUkhCTFkxaDBVeXRsWkRkWmRVVnJXVTluU1Z3dlRHNDRNRlJuUjJ0NmIyRnRlRVphTUhNM09VSnZPVGxGYjNSeVIxbEVNSFZLUkRSTk5qaE5ORzk1WTNRNVNGSlVSR0pLUldkWVkxZElWWEU1UkVRM1FXUnFXRVFyWkZjNFVteFJWVTFMVEN0bU1VeHpVVkZKUjFwMlVESnBObVZ1UmxRMU1EWmxhVzkxV0VZM2EybDZTemhZUW1WV1YyUkdXR1IzWEM4d1kwNHhaelpQUTJkeFpIVkNiV3RTV214MFVreFpXRWRLVlZ3dlZXWXdLekkzWkNzck9YUXpVRE4wT1RremJGSllZM2hsZFV0TGFIYzRTV04zZDJGSFdVaHlWbmx4VVc0eFYwNU9NVFU1T1RsRFFURk1VVUp3T1hWaVJYWnRTa2RYYVZoNVZrSXdjbEo0ZEdoNWNVbFBTM1YzWEM5UVJYZHRTSFEzUldWUVpXcFFibnBjTDB4Q2JHTjRkRTkwWW5SbmFXSTRRM1pMZW5wWlVGWXlkM0F4Y0RGc1NFRmNMemw2YkhkaVVUQjFUMmhVVG01RGRWSllRbWh3VW01bVduSlphbXhzVTFWSmFVVkZUR014VG5WS1YxcERNMk5UUTJkUVNHcDNVR0pTVVZGWWMyY3lWaXRsVlc5TGVYQkNjalZMTkdsdGJrVlhhV2hRVmtkd2IyVTFkR2RMTldablhDOXNWVW93WjJGc1dYVktXRmdyVUZGR05YUjNkbUZaVFRRNU1GWmpSVlpZTXpOMldqZFZOR2hFYkdVeVJGUnhVM2hxVnpkUEswRndXWFZGVjFNMFlYTlVhVUkxYzBGMWJXcENZMEY0UldNcldHeEtNR1JRVW1sNlZuTmthMUJ6UlhkTmMzWkRZbGxuUTFoVVRrUlJhRkZMVGxKaWRIRXpablJIV0hwdWRUVjZVakkzYUdkNU1YSk5SMUk0ZDNGTlFrcEVXVEV4Ym0xY0x6ZzFVRVF5VEhwNFRUaFZUSEV4TldGUGJURXdUVTQxTms1M1ZXTlNlSFV3TldsR2IxVXdPVVEzVkRCcWVXZDBlbU5QWkhkSlVXRkZZVlJDWEM5amFGRkxVMnQzTkdSTU5HSm5Wa2xoYlV0blJsVnZaa3AxWlhCdFpWd3ZRMlZPY1dGQ05UaDNTMXd2VEd0NGFXZGpUak40TWxaa2JTdHZhVUU1ZVhwdFlVTm1ZV05SWTFsTlIxbHphV3Q0ZVVReE9UUkhSREppYUdkamRVUkhhVk4xYjNZeFpuWlFTU3RaV1ZveWRVUm5hVTVIZFdod1pHODVUelkwWTBwTk1HTkRZbWxSVFVOdFhDOXFXRWRaVjI1Mk9TdFBOMkpjTHpSNlVEaG1hVTFNY3pNd09EUlhTSEJDU1RsU1owRjVURVZjTHpCNVVHOWhibUpWVjJSVldXRk1VR0kyZDJ0emRHVTRlVXhrUzNsMmVEaDRhM3BXUmxsR0syc3hLMFJPVUdsMlNXeEVlbVpEVlcxalFWUjFhVWx1VEhkVGRuSkVNRlVyVDNCTU0zcDZXak5rYmpKV1ZUZFVTbnBSYlRkY0x6bFBhVkJjTDIwck9WRTFSRzVUY1hWclVWVlNTVzVaTVdkNE4xd3ZWVWgzVjA5V2QwVlVaMUZLVUVwR1VVaHZOR2huTkU5Uk1HUlFTMnMzZFhaUllrODNVbUU0SzJ4SlNWWnNVVm80VlU5cVFVYzNhRnB2ZW10WFkwRjZiVnAzWWpCMWVrOW1ZbmxQZG1reFEyeENhMjFOYlVGMFVFZ3JZMkp5UjJkdVQxTjFlbXB6VFRSU1NVb3pRVWs1V1ZOSVdtRjFlbFozUkhOdGVrOXVOMmt5T0ZWdmRuQjFSMkZyY2tkVFVWZEdibFF4UWxKbllVdFZWMEZRUW1nelUydG5VMlU0Ylhoa1puTjJWVXAyTVcxTVRqUk9iVlJGUjFSa2VqaDJTRFZpT1haM1hDOU1hRVo1UnpZMGFGUkhkVWxuYWs1WGMzQkpUV0ZyTjNCMFZuWnZjMjVuYUc1UE9VaHlhRWcyZFRkV1RubEpVVWgwUzBwbVZuTk9hVUk0TjBaaVNEbExZazQwVmxGU1lVaHRRVzFvT1RWQ1MwWnlTVTFIY1dsSlEySlNXV0pPZWxwRFlWUklZbXhhZEhZNU1tRlFPRmRKUmpSQ1kycDNNbTh4WEM4NWQydHJka2htYnpsek0zQktZalJqUkhNd1lqVkpRMkpEUTI5dGNrSm9lRUpCVjNwelNFeG9TMUY2Um1wamFsd3ZZeXRNVlZGUmQyRjNPR1J2VEZodWFuSjJWVFU0V0Nzd1NsRmlRVVJoVm5kc09GVkpkbVZOZDBkRFFXWjZlR2h2U0VWVVQxWlFjbk5ZWkd4U2NIbGFTMUIzVEhKT056Sk1kbUp3VEVSRlpFVlJlV294WjAxS2NIY3JZMHBXWkVaTWNIbHdaekZIVkRKT1ZHVkNla0pOTnpGa1ZqRk1SbEphVDBSelZFTlBWVTkzTkdFek9VTlFWa3hTUlVaUFNWSnhWVkJsVkZsWFpHbzVOMVkyYzFkbVkwMXlkRnd2U1hoeWQyeHpOMGh6ZHpGbGR6UTRiVzVGUlZoUmFIQk9UVnB3VGxNME9WQnFPVUpKUmtScGNtUmpZVVpZYVcxc1ZXSnRaRTFXWVU5MWRVRnJUM0pxZEVkNFZHSkRNRmgxVW5CTWMwcFlTbTlCVW5Bd1pGUlpNR00xVG5reVdWQm1iRUZuYWtWNVpXRlZabXRyYms4eVoybDVSbm9yVkZsRWIzUlJZbk15Ym5kaGJ6QmhUV1YyUjJwcWVtVnhPQ3MyVjB4ek0yWXlhVkZPT1RkQmFsQk5RVVpqWnpocVprZ3hXV05HVGpBMFJtSktVbFZVTmt0dFoyMWtaVWQ0ZDJVM2IyWlVSVVZ1TTF3dlYyZE5NekZWY1hkUFNXSk5iVWxPYkhCV1ptSjBkMU5MUkZkSGIxQjRTbGx4VG1aNWJVdzRRMHRxVnl0VFQxTlJXbUV5Vkdnd2NVZHlVMDFuV1dsMFlqSkthMVJHY0dGQmF6VjVjV0UzTldKRE1qaGpSRlJXVjNSVWN6UlNjMWt3V1VWVFpVRlVWakJRVGxkWFVuZHNkRUY0VGpCTVJIQnpPRVJrWTBaa2J6QlhhR2cwVmpGRmIwNU1kV0ZXV1N0NlNWWklaMDFJU1ZkcE1qWmpValZETm0xNVlVZEhWWFZwU2pReWIwTnZNWFZITkZKUE9EaG1TMHhaWjJoMFFtWkVNVzlJVGpGa0sxQm5TR2h6Um0xelVrUnFkMkprVUZSNU1IUnZjRkl5WTJoSVJEZHJVWEkzUTFsdVNsTkNObVZjTDNaY0x5c3hkM2RqVjJrM04wWm5ZV1l5WEM5Q05VUnZNa1pvYTFWME1pdGpkVmRMTm5ScVVrbDVYQzg0T1hSMmVGUjVPV1JRZG1aeGNWSk5iakYxV1hKc1ZsTjFNSFJFVVhoWlIyMVZiMjUxV0dwWFRVcEZjMkpxTW05U1IyUnBTbUZYVUdOdlpGcEtjMGh0VEVKMGRuRktSME5JT0VwRmN6UkZTbXRKWTFocU9FMVRhR0ZwVHpod09ETkVNR3N4ZGtsTWRXeHRkMkYwY0hoSldFUnJNV2hRVVhkdFN6TjZSRmxzUmxwWU5FOUpYQzl0YmtsMldrdFFUVnBOYm05NlV6TkJhbGx5UWpCaFQwaEJWek5YYUVaSlFuUlNURnBKVkVkeFJVcFJaMElyWVhsNGRrRnpNVVphTkdkdVVUTlZiV3hUVjJObmRXRjBSMjh3Tms1eldFOXVOREI0TWtwMlVVVjJSVlpOWm5GbVNFSmFaVFpvUW1jeFQyaEJZbEJuYVVaMWRUUmhlbXhjTDFSUk1uTnBPQ3RyVTJkamQzRkVjMU41VFVkaVZrRlFWVTVoY0ZGWWEzcEZaVzVzUlRoWlhDOUxiMVpWZEdWSVNISjZNV0ZsSzJORVFtY3pSSEl6T1hvMFpEWkhPRUl3YWpocVJFRldXRmQwUmxsV1dYWmlhRlJsZUN0eWJGaFhkSGRWVUc1WmRsWjVNQ3NyV0VsaFdXMU1SVmxPYkZWV1Qxd3ZaRmxpUlRSWlJGSk1XV0pFTlVsUVhDOUxabVY2Wm1SUmNVeHVORzlHVkhoTFNrZzNZVEEwWTNOaFJUSlpSbU5FUkdGV1dVUnpUR3BoWVVGMVVIYzNURzh4ZFVaTVZFUlpUMDlFVVVaWVFrWTRYQzlZZDNGQlNHZ3hkRXhtUW5wR1ZVMXBiSHB5VmxaaE9XRkROek5XWjNORlZFMXdRMVpsVVUweVZucHNNbHd2ZEVWTmJ6UkhUbXhGUjBSelpWd3ZZMUJoVTI1cWJrc3JjV0ZsZWxkM01WQnJja1UxVjJSc1NXb3JXa1JNZFdoR1dHRmpVMnRoYTNnMlNsWTJiMHBEY1ZNeE5qTkhXVlkyVFdOYVRqbHpVR0kyTkZCUldFcGhVSHBRVFZkd1RURTJhV3BMVWpkbWVGVmlXVzFNZUhKdVQxbHhZMU5oTjFSR05EZFBUbkJUWjNWMWFXUmtjM1p4ZEhkdU1XWnVXR1ZGYUdoRE0wOVdVMjlNSzNvNU9YZElRMGhEYTJvcmFqZGFLMU52VGl0elZFNDNYQzlFTkRKT1pHcEdRMGx5U1d4dU5VVk9abFZGTUVkeWNWYzFZbTVWWWxCU2IzSktTbkJVUkZvcmVHYzNUVzlVZDJSVVZXbEZXRlJCZVVWU1MxQkVNbG94TUVWcFozWjVOVWQ1TUVVemFtVTBlV1ZuVjBkdGJXSk1SMEpsWmpoVU9IZzVOR05sYmt4NlZWZERNVzUyTXpSRlRYb3pjMWRHZVc5bVdrTnBObGhxTVc4MlZqQndSMGR0WWpWMUswNWxWR3ByWVhCWWVuTkxRM0ZJVERjNFNrdHBWVWhhTmpWc1NYbFJORVZFU3pSVlNHdHdlRVJDVUVFeVdWQlRhMDFLTXpRMWRYUlJWMmhpYVRkdk5HNXNhVlF4TUZCMWRYbDFiVVJaZWtSQ0t6ZzBkemhTTm5oeFQxZzJjRVEzVFVOU1IwcGFXVU53ZFcxR1IzbFVSbWw1UkhKWFhDOVVTR3d3Wkd3cmRVWkxSemxjTHpWTGFURjNXV1ZjTDNaU2JsY3lObFYxVjJZemVGQkxlQ3RFTTF3dk55dEtZMXd2Ym05dVNITXlSako0YUc5RmFIZFlZM3BEY1ROVU16Y3piM3BMVFZSUVIwRjFPRkZVVFdwRlRISm9TVEppUm5kaU1VSlpSRXR4YjNaM1lWRjViekIyZG1oMllYRkdiSGszV1hGS05reE5VM2ROVjI1dlZuVnNVV3RzZEZCM1dtRm5kR3hWVG0xU2RWWkZTMFZPWlcxS2NtOVphVWh0UzFGQ2RVeE1NMGxQY0hkSVdYSTBPRkE1VkROYVZVRlNNVlp0TmpaY0x6TlVkU3RrV0hKT01tZ3llR3RCVlVwcFNXOUZSWGRvV1RKVlVtZFJVVlZSVVRNMGFXeHNkVWt5VkRNeFYwdGpObnBJUW5wM2FsUnhhWGQ1V1RacFozTlVWMU5SVVVsRFUxRnpRMUZvU2tsSWMxcEdPRFpoTTJNMmRtUmNMMlUxS3preWNXWkdWblpsWlhwb1NtZ3pjV3hNWkZOa09VdGtaak5tWmpnM05YWnVkbEJQV0RsM1EwUk1Ua1pYYVhOSlVYTTVZa0Z2TWpkTlpHdDZNRUkwWVdoM05tRTFWWGRXY0ZSbmNtbFJZbkJGU1ZoeVRWa3lVbEJDT1ZOS01HbDNTa3B2U0dsNGFWQXpVMUZDVDNVNGVITmtUa1ZMY1ZWdFJERXpUSEJ2WVhFelEzcDJhRWxPTVN0TFVVNU5WVXh5Vm1GR05qQllXRWxIVDBWbmRUaFFPVXBRZDJkdk9GQnVRVFZuYUVOVU9YbG5XVXRTWkZVelUyVTNTVFpzZWpjck9XeGthRnd2WTFWY0wzUnliRnd2VUZkQlFrZE1jQ3RyTTNKelNIQXhlbXAyVURJMGVXaHlXVEJPTmpKMVhDOUlXV3gzVDIwd1ozcENXazAwY2pkNVRVUnRhemh2YW1kd1RrTlpZVlpLVlVSUWRIaGNMM1Z6VHpGS1ZXSnpTRTV1U2s5aVpVZDNTVmhtVTFsUFpqVnRUV1pqWlhWblMyUlJkMWRqVmtWUWNuSm5TamxNZG1sSlVtaDJlalJOUzJwcGJ6QklNVTVLUzFFd1FYUnFRbmxIT1hjMFZEbFBRVEpuVGpaeFExVjVSRzlJWjNCalNYUjZhVTlSV25OWUswcEVXbWQ2V2sxSGVYbEpWMmhUVVhKRlduZGxkblJKTnpOdk9YRllRM3BvU1ZGRlZXaEVlRnBzYVZCUVZ6UkdiM05ZY3paQlptbE5TSHA2TjFob05WSXhaREpNZDJ4RmVIbHBZekY0UzBKY0wxbGtNVGhGTkRadlVqbG5RVXhFUjNkSlhDOXRLMmxtUlUxSlRUSlVTbkZUZFhKTmVYVjROV014T1NzclprWmtNWFUzWVZ3dk0zWTNPSGd3UkZwTk4ybGFUSHBjTHl0b1JqZ3JNakJzWkdad2F6QlJkakZ5V21aY0x5dE5XR1pVTm1KVk1UZGtkVTh6VHpnNFQwZ3hiWGhhYVZ3dlZVNXdSVWhPTjFOVU5HZG5iek5RVVZWbU0wWlBlbVF3Tkc0eFlUVlVTVzE2VmtOR2NYRlNOa3BHU1ZCTWQzbERkM0ZwU0hjMFkwOTNNblZKYUc1cGJVaEROR1ZaUlZkaFVtVTRRV2s1VXpGcGVFVTRlVzVwVGxsVVpVeG5hMUJRUVU1U2R6QXdUbmR0Y1Z3dlJsUjVkVkZwZW5kSlUwZEdRVEl5UldveVoybEhPR3htWkU5S1JreHFRamhHZG1sSlRqbHJXbEZ5UWxZMmJVRmlRa2QwZDJkTlZEVlNhVkUyWVhCQmVqRlJWbHd2WkhoT1ZWaEJOakpRTmxoRk1EbHpTRFJoUkVaWmMwOXFVVzVuYzFobVF6WkpiVWQ1YUZKS2FGTmpabUptZW5GSU9FcHFWWEpzV0V4R056QlJTM0JqTTB4MEsyRXdWRzlzVUdnMlJuZ3dYQzlwTTFGUE56aGxWMkV6WWpoMFNVRkdZblpQVW5VNVVHWXlielpxYTBOQmNTdExhbEZXYm5wd05XaGpkbXhRYUVOdFRtMUljazlvWTFWMFFWQjNSVGh5YnpoM1ltMUtjM0ozWEM5b2MyeFZSV3c0V2tKalMybExORzExTjNoRWFXSk1VMUJwZVRka2QzbHlOVEpSYUdSWGIxYzVibHd2Wldwd2NubzVaVU53U1RoRVdIRjFSMVE0WTBkWFUxcEhPV05SVGsxRVdUQTBWakZMUnpKelduVjZUa1EyVFZNeVMycG9aMnhGZWtsd2VWUlpjMFlyZDIxRFp6UnBPRkIzWlRoclRUaG5Oa3BEV1VORFF6QkhRbXBaT0dwclVVeGxOMGhDTlVaR1prdHVjMVJGYWxSbk0yUnlWRGRGZUdKcVNuZHVkVkp1YlV4SGJ6UTVSVFJPUXpkdWVVcE9SbTgyWTJSSU1uZDZSbkpGU2tWRVVGTXdaRlJxVVdwR01Wd3ZkVFZITVZ3dlRVeDZjakE1YWtnM2NWVk5XRTFrUVRkcFJVNW1TRlZVUjJ0MGFHWjJXbUV6UWxwRGNESmtSVnd2ZG5JNUt6ZHBXa3RwTVdkSmFYZHFWRTVVV0RSalNHaDJRbUpMTUVSTVJEbFlSbXBrV0VaUk1qSXhRalZWTkRsa2RUSlBhR3hHY0ZKVmVVaERiU3M0VG5kRmQzaE5TREV5U2xCd04zRndRWGxWTkRsWWRITldhREJLYVVWNU9XWk5kVVpTV21kaVlYcEthbW80U0VoQ1JrcFFZamRQUkVOVFFrNTNlWEpyUW14MFVsaERSMmR3ZVRSclZrTkVaMnhxT1VsRE5HOTNaVzVDZDFaTFZGbHNjVUp2VUd0Tk1WWXdTa0pKZWxsd1IzbFJiMmhqWlZSMmIzSnhOV2R1SzBkU1VUZ3lkMDlQYkRRMlJFVTFiMjFTYlRCQ01VZHlSakJ3VVRGc2VFTklXamt3UVZBM1YyaHRhMUJEWlVwdGFGTm9ORVJYYjNWVlNWbFhiV2MyUlZVM2R6aDFWa05NVGpsNVpUUmpjVE5jTDFwQ2VXOUlia2RpYlV3NGNFY3pTVkJrZG01aU1tcExOemh6Y25Nd05UUjJUMEYzVVhrd1MyWm5kMXB5VEdrd1VUQlRla3B2TWtSS1hDOUVRbUkyUVdwWFdFeE9ZbXBTV2tWS1RrRjNUbFphVlVSdFpGSXplVGh5YzFGdU1YbE1hRkJ6TURKTWFGTnBPVGRsU2s1VVprbHZSR1pJUlVKNlZYZzRPRlJFZEc5cmEwUlNSbWRyY2tKS2VFSnVlR00yYWpSMVVVRnFjRU40VkhoRmFHbDFVVzVMY0VKVGFIQm9VVzlyUTNGQ1VXMXZhbnBpTkVSSE0zZFVXblY0WldObVpHbEpiVlZSVWs1dGFHOUlVSFV4UkdSTWExRkVObmRwU0d0MFdrbFBWakJaWkhScU1HUnFLMnRvSzNabVExRnVaRTVqUkVneVIwMU1jR05pVld0WFZVeFRPV294YlhaUU0xQXJWekE0WjNremRUZHNkVnd2TWtGcFRWSkRSRUU0VHpSc2VGSnRaVzVuZDFZelRETjBlRFZOUldOY0wwNW9OblJFYkU1S2VYTXJXSFp4UjFJeFdFc3ljbWN3Um5jNVZVaHNPU3RLZUVabmVtOWhWV053UzJORGNEZzNNbmMwYkVsMFVGUmxkMmh4YkVKdFkxQTJPVWhoTW05TGMxQkNWMjFyV1ZkTWVrNUlhWFp1ZHpWWldqRktlRXRQU1hneFJXczRZblJ2VWtKUlIxZHdhM0JCY1RSUlprRkpTV2dyVjBWclQyTm5kV05KUTJ3MlRVTldjMDFCUW5GMk1FdFFjbGRuU3pSUFNIcE1lWFJIUkhkb1FXZFNVMnRHYWxkaVFuaFFVVTF3T0dRMVowNHpkV2M1YzNKeVRrOU1kWFJJUjNOMVZXVkxZakJ3UlhsTWRGd3ZNVlZITjJwVGNHNU5abmwxZEU1VE5IbHJPRTltVG5CU1YweHpabHBUWkhVMFR6bG1YQzlRYlRKeWREbDBRbmxSZUU5NFdsaEROWFJSV0dSdFNXZHZTVk54T0cxdlREWkxVbTVoZFZWb1QxSlpPVXd5WTJwVmRrbGlhRlZpTkdaVVdWRkhUVkZ3VlVkWlIwNTBia2x5YlVGQ2N6SnFSV3hTWlhSVlMzQldSMEpOVURSeWVVc3lOV3RNUlRWSVlWZHJYQzl0ZEhaSU1FNUlXbWxLV0ROaFRrUm1UbGxwTkZKRGJsbzVVa3BKY0ZWTE5Gd3ZZMDFKUlZKR1RtTnpjMDVLTkRCTWMxcFRSRlUwVlRab1IydEROVFJYVFZGeFNsVnZjVmhQUkZwT1RHY3pZVGxCWTBreVN6bEtVM1ZsYUhVMmVXTnBWVWxaY0Zkb1JrRkZXVGw2UlZRMVRHTjNVa3huVG1jclFTczJZa280WmxvNGVERnJaemt4ZHpaNmIwNW9Na3BwUlRsRVdIcGpSRXB0YmpCdlVIWjNUVmxaWTF3dk0zaElNVk1yTWs5NlNEZFFXSFpJVkN0V1JGQmlXRzlVZFhWR1VrZGtNVTVSWTNscmR6Sk5hMGxWZW05Y0x6YzNSR3hvT0ZsaGEweFhkMGxzVVRsbloxYzFNR3hCWVVKSFRWcHFXVVZEYW1SeFlYQnhVbTV4TlVZNFlteENOR3hGYVU1TVpVWTBTRWw0Unl0elZVbHVlbmxqVkUxQ1VrbFFkelpIU0dzMVMzWjRNWE0zWlRST2EyaFRhRlZHUkRCMVIzazFaa2QzUWt4TE5HVnZaMnhPV0hONFhDOVJjMFEyU1dsSFdtYzFibGszTkZkRFhDOVNWVU5MVTFwemVIY3llR2xGYm1wMVNtWXhaMHBIU1VaQ1oxWjRORVJKVXpKcU5XdG9TVVpjTDFOUVIwcFZSa1l6TjBSQ1ptVjJiMjgxT0RsUWQxd3ZTemRPZFVaTk1rbFJaRXh4ZFVrd1ZVbGFTRGx5UkV4V1VEZHBObWszWVRkSVVWWjRTelY0TUUxVFJXbDZTVXB5TW1RMloydE5SVUZvV0cxT1RtOXZYQzlHTlVkWlJUUkpibTU1UTBJMFRsSlVlVFo0Wnl0dGFWa3pjRTlQUm5CeFdFMUhTMFpVYjFKclNEWlhhVzVwVDBZeWNYUkVRbmtyUjBkRmVVWmtjV0p5U2tOeFVXcERhM00wUWt4R1NGWXJVR2RrV0dsbk1sbHRZMnBEWjIxV1JVNUdSV3Q2ZDJjMGMwcG5SRUpTWTFkelFVcEdNWE5IYUU1Nk56UkhaSHBCU0ZVMU5FTlNhQ3RUYjNoaWNsWjZhVlpVTkd0U1kyUlhja295TTA1VWFIUTBhemRpYUVGQmVWb3hSWFZqZFZwdk5tZzNaamgxWW5VeWIzWnRSak5aWlVkTlpWZGFaa2RKYW1WM1NGVXlkMGRSTUhGRlJuQXdTa3gzU2pGMWJsUlpkbGRMWTF3dlkyRkZUVVJyVURKaVRrUkRTRTU1U1ROS01UUkdiR2xJZDFKYVNYWkNXbWRGVkZWcVdGZGNMMFUwVFVORGVVdGxRMVJMWlVoYWJWcGFja3MwWWsxNFlrdEZXbHd2YlhkV1MwNVNNbEp6VTJKTlZFcExVVkJQVDBONVZYaFpSa1ZQVG1JM09GbFJNRnd2VUU5RVduVkdVMFpqTjFCNWRYbHFNMUZaUjFJeWQzcGNMMjFuWkcxbmQwOXRjazVJZUdVMmExUlZhazkzVEhJck5Wd3ZZMVZjTDBKb05GVmNMM0ZWZFN0VmVsbG9aMUJUTUdRclVGVnpVMWx6V0RWWU9EUnhkRkEzYlRJM1YyNU1LemRYWTF3dllXaE9kbnB3VG1oaFlWbEJSV2gwYUZGTlNVRmhYQzlMUW5kV1JrRXhObVpIY1ZaUFJGTkZhMHBEVXpVMFdqaHpkMFpwTVZKSk5GSnlhRVZDYTNkTWVFWjNkVGh1UTJ4b1FsazFTVGhTVEhwSU5IZzNTR2gyVlZNNGJXTnRVRkJaZUhGT1NUUjNVVGRrZDFJMGJXcEliek5JU1ZKNVNIazRXVWxOYm1GVU4zaEtSRzVRWjBsQ2FXaG9UMUY1U0ZORldXZFljMjlZY21wT1ZYUjRjMngxUkdkaFVrNWhPVVZ5UlhCalhDODFLMHc0SzJabE0zQmNMMkU1WEM5WldFODJZazFwTmtzcmJVOXlPVmRGUVVSSk1VbFNSVlpzTm5CM2RISkJWaXN6Wm5ZeVpuWlJSVFFyVm01VGR6UjFiblpRYUZweWJIQllWWFZ5VFhWV1NWTnpNVVpFZVV4QlZqWlBSVEF4V0dSU1FubGxaVUo1TmxKblpFVmhUelphYUZKU1ZUWlRSVXRNVW1veU1WQlNkVWhVVTBGV01saEVZbXRNYkVkcGMwZzBUVFJXU1dwVk5sRktZMDlFYjAxSWNVaFlVeXMwVmpSdFlUbEZZMDVIVFdNMlkwMTVRamxYYVZSdlZFTmthVnB4VWtOR2JWWkdWa1JuVGxCWk1ESlBSbTlhUTA5VmVEUk1Xa3d3VGtoSWVHOXJlVTh3Y1dGTFdFUlZZVk13VERGcGVEUmlZMlJJYlRkY0wwOHlhbk5VU25Jd1NrdDROVmxwUjIxNlpqY3pkeXQ2YldKRlJVRjVjM1JZUWpFeFQwZzJYQzlDTVhsaWRVVjNjV0V5UmtaNk5EWTBjbGh1ZGpOdloyUnlUREZUS3psbFlVbDRURnB0ZDNGNFZWcFpjVkZ1YUZOQk0zZFJPRFYzZDBKS2FFSTVXR0U0ZWtKbk56ZzJUM1Y0Ulc1RVJWSjNkV1ZvYzI1SlkwazRUa1ZOTUdkRlQwWk5NRUpLYmtWcFpUZGxSVVpuWXpCbVFUWmlSa0prU2pWU1dGRlFTa3hEZDFVelp6QlBTV2RCU0V3NGFGYzBaVXh2UkRsb2RIVjRRemhZTkhabFRHOTFSM2t3V0VkME0yOVhRME5wVUhFcmRUQkphMVV6Vm5CNWVrOWxVSFU1ZWpFM1dqZzRVM0ZjTHpkVVpIWkxhRWd4WlZaTGNrNTFORU4wVUcwemNHeDZRMXd2S3pkVVpXZzFObk56WmxSRlRqVlRVak54UTBOVmRWd3ZUMWx4ZW1oWlZXWXpWemhqZEN0NFZqZG1PV0pXVG5waVpsZDZZalV4Y0ZSR1lWZzJja2RSVlU1TWN6bEVRa1U0YldoWmF6SnVRbk5uZDFwcVJsazVXRTlIUlVGSmQxbHZWMHRoYzA5U00xTnFhVGc1YlVNemJIQkNURWt5ZVV4VFkwdFVRVlozTmtNd1VIUkpRVVF5V1VoeE5FWkJiWEJFU1hjeVZ6VkliMFZwU2pka1VsTmpPWE5EYTBOU1pVdFhNbmR2WVROTGFsbGFVVVp3YW5odFQwaHNLekp4U0RkME1ub3JORTFOWkU5Y0wzTlBYQzlMVlVsTVFrVkVVbkZOVWx3dlhDOWlTM3AzSzAxMVdqQXliMWxCUlV4SVprSmtNbVJVYkZKbVYxRlNNbTEzV2tZNVdsVTNSREJOUkN0bmNYQTVibHd2TTNBclkwNU1WM1YwY2s1d01XOWlOVzVjTDFwa01VRnhTWGhPTkc1Wk1FRXJiSGhtUjJkcVpVNUNTelpYUkhGUVRta3dVMFZZUXpKUlFrMWthR0Z0WW04MFoyeE9XVTExV1VwRFVYRkJSVEZYZDJwc1NtRkVOMHhDZHpoUWFUQTBRMUZtYTNsM1ZXcFRWRVZPV0ZKaU1GUmlaMUZqT0ZsQmR6WlhkMmgxY1dweWR5dEtlbEIxTkhwVlVETXpYQzh3TlZOa1praEhObkp4ZDJzcllqTmNMMnMyVldOM1pWd3ZZa1JUVERVM1dXYzJNVnd2TVdWaVkwVkNLM05PZW5aRWR6STNaWEo1UmpaQldURlVkWGszVTNCclRYYzRZMUJ1V0hadVpVZHRhRXgxU2xsM1pXWk1LemQxTnpoek9GQkVjV0ZtTjNwT2NtMVNOR0pZVlZSdmMxVktSVkZWU1ZkWGFUZG9VV2sxYlZGelVUTnJNbFJRVWtkbE0wZ3lORkJFZVdGSVEzaG1ZamRTYUROVlJFTTJVMUUwYVN0clRuWlpZMFJyTlRWTVVYQjROazVxZEVNd2VFdFdSVWhyTTA1NVEzZzVOMHh1T0VjeGRuWmxZMXBtVnpGSFFqQnZXbXBQVUVoV1QxSlNWMGhOVm1SemVFb3JjVEpZTlRkUlJEVjNZa3gyYlhod09IWm1Za0ZVWTNoM2NIRkNjV1pUVUhGaWJGUnhURWRQYWl0M2NFczVkWHA2SzF3dk1qaEVNMWxXU25RNWNXRnJhWHB0VTNsYVNUaGllRFZPWWxKdlZrTmNMekJUVG0xTmJuYzRWbkZEVm5nclRVMXhRV3hEYW1vd0syNDFPVWd3Wld0TFR6VXpUazVZVGtabVNVNVpTVEo2VVRoTFYxWk5Za2g0U0daUWJUVnFXR3hNU1RSaFYxb3JNMFJsVDFKWlZHb3lPRmhzUlZKNVkyaGtWbkpwVkRseE1tWXdkamQ2VVVnMWQxUkpXRlJtWEM5NFpsWldXa1ZjTDB4dWNWQkVObkYzSzJvMEszYzFkVEJvTTNac2NrNDBNV05tVUc0MU5XWTRVRmxvVlVSMFJuSjFYQzlETjNvcmRuSkhVWE5UUjJSM1IzbHBOa2hoTTBjeVNUSjRVa05NY0VwaE5ESkthekppVVdKeldrcEhjRk5HTkdsSWRIbDNSbWh3WVVReWFUWkZaM2hXVmtWR01XUjVZakJzVkdWbmJWQlhaR3dyTnpSRlNsQkhTbWN3WjF3dk1uRjRRV2c1UTFveVdsd3ZYQzh4ZFdNeWFtWlhPRmxhY1hGMllWUnFVWE5VVEd3NFUyWlpNVVEzWEM4M1JEVm1aWHBZUkZFMlpsUjRXalZ6VURoSFNqZGhOVFpQTUVSUlVFZHBibUprUzFCdk5pdDVRM05GVDA5a2RqazNSV3h3YXpaVFIyTjJXbVJrWEM5bFprRldWV0ZUZVc1SlFuaHRabmhVVTJnMGFIZ3lVekJUVVd4SlNVaHlNR1pRYjBJMlJVeGFhemg2VHpaeVpqaGlWR1ZGTVhSSU1IQm1WRmxsVVZ3dmJVUkNlVGxLU1dkUlNWaFVhRlYwVXlzNFUzaHRVSEl3ZG5CUWJWQk1NekJKYmpKWVFqTm1YQzk0TnpOdWRURlNkSEZyTlRrM1NHUlNVVWczWjNGQmVFZElOR2hvYW5kUlkyWXdVM0JNT0Rack5rcDBjbkZIT0hCcU56TTVhSGxXYUhwdmQwOVVNRU5aYkVsSlJUZEdSM2xZUTFoU1ptbE5XRkprUmxWWmNIRjFTSGRsVjA5amIyZFViRGR3TmpKcE9FcHpkazFDY1ZsQmNHcHZibHBOWWt4NmVWVXlRM0IxYjI5MGMwMUJYQzlVZFdWTGVFZE1iSGczZUZWTmVuUmtRVnA2ZWtSV1QwSlpOV3hVVkV4a1lVMW9XR1F4TmtKb09HRkhUWHBTY1N0SWIzbDZVa1kzTlVKM2JXOHdNVTlSUVVwSVprVnJWV2RXYzJKa2NuTjVRMjFKVDBoWGVteEdTemt5TUdWM1JIcHJORFZZVGx3dlVGVkhSM3BoV1haa05WWmxhVlpMWW5WWlRtWldVMDlyV25KdU0wZHphRmRUU0U1dVRGUjJjMGt4UVhOWU5HMUtWekpMYTFwUE9UUTVZbVZzZEZoMVlteERhMEZVY1ZoNkswSm1UV2hFU2poWmIyWmtUR0pXU1VORmNHOHJSRmN6U0VNclEycFhUMlZHY3pWalhDOUdRMHhyWVcxNlJFNXFZa053WEM5Wk5uVm5aRWxrUzB4bmNWTmNMekpTUnpVMVkwaDJabFZGVDBwMFYwdEJSVE40WTBjMlZrSlJiamQxV0RacU5tczNja2Q1TjJOblZXTnpVblJjTDAxUlNFZDZNbEIxTjB0cVpVNWpiV0Y0YjNwUFFuWnNhVGRpUTBKbU1Ya3JkSFZLT0VsdFNsTkJRa00xZUdSU1YyVjVha28xZURRcll5dFBkMVp5UWpGSWNUTlhNRWxRVDNsVFNrZHNRa2RaWWtFMVIyOWhSRVJUYURGU1IxZDNkVWRMWlZKb2VFMDRRekJQVEhaalptcFpVemx5TkVoV2RUaEJWM1kzT0U5eFRHMU1lbkp4WVRjeGVGWk1NVFJMV0hkMVVHcDViVTFWZUZkdE4xTkJlRXMxWVVRM0t5dENPRGRTYlU5RFdVUmxNRTFRWEM5RldVcDZhRXRNVW1saFNrbDVWMncwUlVoWFFtcExZVlJ6YTAwelMzUnZWMFZMY3pkUGNFeGtablUwVm1GQmNqUmFiekZCUVcxMVl6VjROak54VVVwVVJIVjJVVGhsYVc5S1YweG5UbVJIVWtJclpqaENhM1JGYTB4VFRVSnZZM016WEM4clJteDNaMEpzU2s1d1VuZ3JTREJtTVhkVlVIaDNabkpWUlN0Q2FVMHJTSG93YmpsbFJqRkpVV2RpSzFBNWJXdENkVkpjTDAwNWJXTlFRbXBpTW1oSFhDOWliazkzTWxsbVJscHBTV2htYUdKalJtaDFXV0pDWVVWNWRIUjZaWFpPUlRKNk9FSmxSMEpJUzBWdmRHeHpjMEZCUVVGQlUxVldUMUpMTlVOWlNVazlJaXdpZEhsd1pTSTZJa2x0WVdkbEluMHNJbUZqYUdsbGRtVnRaVzUwSWpwN0ltRmphR2xsZG1WdFpXNTBWSGx3WlNJNklrRndjSEpsYm5ScFkyVnphR2x3UTJWeWRHbG1hV05oZEdVaUxDSmpjbWwwWlhKcFlTSTZleUp1WVhKeVlYUnBkbVVpT2lKTlpYSm5aV1FnVUZKeklHbHVkRzhnZEdobElFaDVjR1Z5YkdWa1oyVnlJRWxrWlc1MGRYTWdjSEp2YW1WamRDSXNJblI1Y0dVaU9pSkRjbWwwWlhKcFlTSjlMQ0p1WVcxbElqb2lJaXdpWkdWelkzSnBjSFJwYjI0aU9pSWlMQ0p6Y0dWamFXRnNhWHBoZEdsdmJpSTZJaUlzSW1sa0lqb2lPV1JsTlRabE5qSXRZMlprTXkwME9HRm1MVGxoWXpjdE5UWmxNelk0Tm1FeFltRTRJaXdpZEhsd1pTSTZXeUpCWTJocFpYWmxiV1Z1ZENKZExDSm1hV1ZzWkU5bVUzUjFaSGtpT2lJaWZTd2libUZ0WlNJNklrOXdaVzRnVTI5MWNtTmxJRU5vWVcxd2FXOXVJaXdpWkdWelkzSnBjSFJwYjI0aU9pSkxZWEpoSUV0bGNtNWxiQ0JqYjI1MGNtbGlkWFJsWkNCb2FXZG9MV2x0Y0dGamRDQmpiMlJsSUhSdklIUm9aU0JKWkdWdWRIVnpJSEJ5YjJwbFkzUWlMQ0pwWkNJNkltUnBaRHB3Y21semJUcG1ZVFZrWm1VMll6Tm1NMkV6T1RVNU5EZG1ZVGRsWm1JMU5qTm1NemM1TVRSbFl6azNNemsxTWpaaVl6QmhZakk0T0RZeE0yWmpaR0psWlRVNU9USTFPa051YzB0bFVrazJRMmRhYUdSWVVtOU1WRVZSUWtWdmRVTm5iSHBhVjA1M1RXcFZNbUY2UlZOSlVVbzFlazV6ZWtFNFVXUktSM0Z3YkZRNWExVnVWVTVNZDNVeFVEVnhZMDVEZVZKdWFWWXhWMWN3V0dGNFNUZERaMlIwV1ZoT01GcFlTWGRGUVVaTFRHZHZTbU15Vm1walJFa3hUbTF6ZUVWcFJVUmtYMWhYWkZSblRqaFZja1pLWmtwMVRFcFBZMHB6UWtSR09VaG9Na0oxTkMxQ1ZsWldOakpHTm1kaklpd2lkSGx3WlNJNld5SkJZMmhwWlhabGJXVnVkRk4xWW1wbFkzUWlYWDBzSW5SNWNHVWlPbHNpVm1WeWFXWnBZV0pzWlVOeVpXUmxiblJwWVd3aVhTd2lRR052Ym5SbGVIUWlPbHNpYUhSMGNITTZYQzljTDNkM2R5NTNNeTV2Y21kY0x6SXdNVGhjTDJOeVpXUmxiblJwWVd4elhDOTJNU0pkTENKamNtVmtaVzUwYVdGc1UzUmhkSFZ6SWpwN0luTjBZWFIxYzFCMWNuQnZjMlVpT2lKU1pYWnZZMkYwYVc5dUlpd2ljM1JoZEhWelRHbHpkRWx1WkdWNElqbzBNeXdpYVdRaU9pSm9kSFJ3T2x3dlhDOHhNQzR4TUM0MU1DNHhNRFU2T0RBd01Gd3ZZMnh2ZFdRdFlXZGxiblJjTDJOeVpXUmxiblJwWVd3dGMzUmhkSFZ6WEM5aU9XSTJZbUl4WlMwMk9EWTBMVFF3TnpRdFlqaGhZeTB4TW1JellUQmlNekJtTUdNak5ETWlMQ0owZVhCbElqb2lVM1JoZEhWelRHbHpkREl3TWpGRmJuUnllU0lzSW5OMFlYUjFjMHhwYzNSRGNtVmtaVzUwYVdGc0lqb2lhSFIwY0RwY0wxd3ZNVEF1TVRBdU5UQXVNVEExT2pnd01EQmNMMk5zYjNWa0xXRm5aVzUwWEM5amNtVmtaVzUwYVdGc0xYTjBZWFIxYzF3dllqbGlObUppTVdVdE5qZzJOQzAwTURjMExXSTRZV010TVRKaU0yRXdZak13WmpCakluMTlmUS5hUGh6UU5jUGtDeW84TDFiSHR0dUtzYnRUN2FEYzM3akkxQ2xfS3hkczdoeU9LZVZBSjdaNU1wc19senNpWDZKSXVqVDNIdm5YaENjTjhGZ3ZUVWptdw==";
        StateHasChanged();
    }

    private void UseSampleEndorsementCredential()
    {
        credentialInput = "ZXlKaGJHY2lPaUpGVXpJMU5rc2lmUS5leUpwYzNNaU9pSmthV1E2Y0hKcGMyMDZOVE01TURCaU4yTXhaakZqTnpBME5HVmtORGs0T1dGaU5EWTFOekJrTWpreU56SXpObVU1TkRFMFptVmlaVGd5WldFek5tRmhZVGt4TjJFMk5ESmtaRHBEYjFGQ1EyOUZRa1ZyU1V0RWJURTFURmRzZW1NelZuQmliV04wWVRKV05VVkJTa3RNWjI5S1l6SldhbU5FU1RGT2JYTjRSV2xGUTJaa05tbERZbnAyVEVOVFQwNWxiRzEyY3pOdlV6SkpXWGwxWnpoYU0yaHdPVTFhWlZNeVZ6SkNjbXRUVDNkdlNHSlhSbnBrUjFaNVRVSkJRbE5wTkV0RFdFNXNXVE5CZVU1VVduSk5Va2xvUVd0NVdrVmpRMEZoVEMxV1pGQnVVVTlQZEhWc1ZqWkVVMGsyZUdJeFZWTlhSWGh2VVd4SmJtd3liV0VpTENKemRXSWlPaUprYVdRNmNISnBjMjA2Wm1FMVpHWmxObU16WmpOaE16azFPVFEzWm1FM1pXWmlOVFl6WmpNM09URTBaV001TnpNNU5USTJZbU13WVdJeU9EZzJNVE5tWTJSaVpXVTFPVGt5TlRwRGJuTkxaVkpKTmtObldtaGtXRkp2VEZSRlVVSkZiM1ZEWjJ4NldsZE9kMDFxVlRKaGVrVlRTVkZLTlhwT2MzcEJPRkZrU2tkeGNHeFVPV3RWYmxWT1RIZDFNVkExY1dOT1EzbFNibWxXTVZkWE1GaGhlRWszUTJka2RGbFlUakJhV0VsM1JVRkdTMHhuYjBwak1sWnFZMFJKTVU1dGMzaEZhVVZFWkY5WVYyUlVaMDQ0VlhKR1NtWktkVXhLVDJOS2MwSkVSamxJYURKQ2RUUXRRbFpXVmpZeVJqWm5ZeUlzSW01aVppSTZNVGMwTWpJeU5qTTVOeXdpWlhod0lqb3lNRFF5TWpJMk16azNMQ0oyWXlJNmV5SmpjbVZrWlc1MGFXRnNVM1ZpYW1WamRDSTZleUpwWkdWdWRHbG1hV1Z5SWpvaVFtOWlJRUp2YjNSemRISmhjQ0lzSW1WdVpHOXljMlZ0Wlc1MFEyOXRiV1Z1ZENJNklrTnZibTVsWTNSeklIUm9aU0J5YVdkb2RDQndaVzl3YkdVZ2RHOGdaMlYwSUhSb2FXNW5jeUJrYjI1bElpd2libUZ0WlNJNklsTjBZWEowZFhBZ1IyeDFaU0lzSW1SbGMyTnlhWEIwYVc5dUlqb2lRU0JyWlhrZ2JtVjBkMjl5YTJWeUlHTnZibTVsWTNScGJtY2daR1YyWld4dmNHVnljeXdnYVc1MlpYTjBiM0p6TENCaGJtUWdabTkxYm1SbGNuTWdhVzRnZEdobElFTmhjbVJoYm04Z1pXTnZjM2x6ZEdWdExpSXNJbWxrSWpvaVpHbGtPbkJ5YVhOdE9tWmhOV1JtWlRaak0yWXpZVE01TlRrME4yWmhOMlZtWWpVMk0yWXpOemt4TkdWak9UY3pPVFV5Tm1Kak1HRmlNamc0TmpFelptTmtZbVZsTlRrNU1qVTZRMjV6UzJWU1NUWkRaMXBvWkZoU2IweFVSVkZDUlc5MVEyZHNlbHBYVG5kTmFsVXlZWHBGVTBsUlNqVjZUbk42UVRoUlpFcEhjWEJzVkRsclZXNVZUa3gzZFRGUU5YRmpUa041VW01cFZqRlhWekJZWVhoSk4wTm5aSFJaV0U0d1dsaEpkMFZCUmt0TVoyOUtZekpXYW1ORVNURk9iWE40UldsRlJHUmZXRmRrVkdkT09GVnlSa3BtU25WTVNrOWpTbk5DUkVZNVNHZ3lRblUwTFVKV1ZsWTJNa1kyWjJNaUxDSjBlWEJsSWpwYklrVnVaRzl5YzJWdFpXNTBVM1ZpYW1WamRDSmRmU3dpZEhsd1pTSTZXeUpXWlhKcFptbGhZbXhsUTNKbFpHVnVkR2xoYkNKZExDSkFZMjl1ZEdWNGRDSTZXeUpvZEhSd2N6cGNMMXd2ZDNkM0xuY3pMbTl5WjF3dk1qQXhPRnd2WTNKbFpHVnVkR2xoYkhOY0wzWXhJbDBzSW1OeVpXUmxiblJwWVd4VGRHRjBkWE1pT25zaWMzUmhkSFZ6VUhWeWNHOXpaU0k2SWxKbGRtOWpZWFJwYjI0aUxDSnpkR0YwZFhOTWFYTjBTVzVrWlhnaU9qUTJMQ0pwWkNJNkltaDBkSEE2WEM5Y0x6RXdMakV3TGpVd0xqRXdOVG80TURBd1hDOWpiRzkxWkMxaFoyVnVkRnd2WTNKbFpHVnVkR2xoYkMxemRHRjBkWE5jTDJJNVlqWmlZakZsTFRZNE5qUXROREEzTkMxaU9HRmpMVEV5WWpOaE1HSXpNR1l3WXlNME5pSXNJblI1Y0dVaU9pSlRkR0YwZFhOTWFYTjBNakF5TVVWdWRISjVJaXdpYzNSaGRIVnpUR2x6ZEVOeVpXUmxiblJwWVd3aU9pSm9kSFJ3T2x3dlhDOHhNQzR4TUM0MU1DNHhNRFU2T0RBd01Gd3ZZMnh2ZFdRdFlXZGxiblJjTDJOeVpXUmxiblJwWVd3dGMzUmhkSFZ6WEM5aU9XSTJZbUl4WlMwMk9EWTBMVFF3TnpRdFlqaGhZeTB4TW1JellUQmlNekJtTUdNaWZYMTkuVURKTlY0SC00bFowSF9rQXhfN0lWdHRhYnhEdzFGUjdVVExReGNBV2ZKazQ4RnRpWkRCeC1KLTJhbUpxNlAwam4xWnFVM3hrZlNlTTMycUg3OTE2M3c=";
        StateHasChanged();
    }

}